

.subtitulos{
  font-weight: bolder;
  text-decoration: underline rgb(121, 117, 117);
}

.textosubtitulos{
  margin-left: 3%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: justify;
}

.tambograndeimg{
  width: 40%;
  float: right;
  margin: 3%;
  filter: drop-shadow(5px 5px 2px #444);
}
/*Foro*/

.titulomashistorias{
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}


.comentariosforo{
  height: auto;
  overflow: scroll;
}


.iconosh {
  padding: 3%;
  display: flex;
  width: max-content;
}

.chiquitinh {
  color: white;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  width: 150px;

}



.imgchiquitin {
  display: block;
  transition: all .2s;
}

.imgchiquitin:hover {
  transform: scale(1.2);
}

