
.botones{
  display: flex;
}

.boton{
  background-color: rgb(211, 211, 211);
  color: white;
  padding: 1em;
  margin: 1em;
}

.seccionenlaces{
  margin-top: 12%;
}

.botoncito{
  display: inline-block;
  width: 50%;
  background-color: rgb(136, 135, 135);
  color: white;
  padding: 1em;
  margin: 1em;
}

.partes{
  color: white;
  background-color: rgb(114, 114, 114);
  padding: 1em;
}


.subtitulos{
    font-weight: bolder;
    text-decoration: underline rgb(121, 117, 117);
  }
  
  .textosubtitulos{
    margin-left: 3%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    text-align: justify;
  }


  .piepagina{
    margin-top: 4em;
    font-size: 0.7em;
  }