<h2>3. Proyectos Mineros a Nivel Nacional</h2>

<p class="partes">3.1. Exploración</p>

<ul>

        <li>Año (1) </li>
        <li>Regiones</li>
        <li>Localidades</li>
        <li>Monto de la Inversión</li> 
        <li>Tipo de mineral que se explora</li>
        <li>Potencial de yacimiento que se explora: Gran, mediana o pequeña minería.</li>
        <li>Período de la exploración.</li>
        <li>Proyecto con resultados positivos o descartados. </li>
        <li>Monto de inversión de proyectos descartados en el Año</li>
        <li>Proyectos según su situación Nivel Nacional.</li>
        
    </ul>


<div class="botones">
    <div>
        <p class="boton">En tiempo</p>
    </div>

    <div>
        <p class="boton">En riesgo</p>
    </div>

    <div>
        <p class="boton">Demorado</p>
    </div>
    <div>
        <p class="boton">Paralizado</p>
    </div>
    <div>
        <p class="boton">Cancelado</p>
    </div>

</div>

<p class="partes">3.2. En cartera pendientes de evaluación, negociación con comunidades, de estudios a ser concluidos, de logro de financiamiento, etc.</p>

<ul>

    <li>Año (1) .</li>
    <li>Regiones.</li>
    <li>Localidades.</li>
    <li>Monto aproximado de la inversión pendiente por definir.</li> 
    <li>Nivel aproximado de producción por tipo de mineral.</li>
    <li>Plazo que tomaría construcción.</li>
    <li>Período futuro de operación </li>
    <li>Tipo de mineral del proyecto</li>
    <li>Potencial de yacimiento: Gran, mediana o pequeña minería.</li>
    <li>Tiempo en cartera.</li>
    <li>Proyectos según su situación</li>
    
</ul>


<div class="botones">
    <div>
        <p class="boton">En tiempo</p>
    </div>

    <div>
        <p class="boton">En riesgo</p>
    </div>

    <div>
        <p class="boton">Demorado</p>
    </div>
    <div>
        <p class="boton">Paralizado</p>
    </div>
    <div>
        <p class="boton">Cancelado</p>
    </div>

</div>


<p class="partes">3.3. Construcción</p>

<ul>
    <li>Región.</li>
    <li>Localidad.</li>
    <li>Monto de Inversión.</li>
    <li>Nivel de producción por tipo de mineral de futura operación</li>
    <li>Periodo de construcción</li>
    <li>Fecha inicio de operación</li>
    <li>Periodo futuro de operación</li>
    <li>Proyectos según su situación</li>
</ul>

<div class="botones">
    <div>
        <p class="boton">En tiempo</p>
    </div>

    <div>
        <p class="boton">En riesgo</p>
    </div>

    <div>
        <p class="boton">Demorado</p>
    </div>
    <div>
        <p class="boton">Paralizado</p>
    </div>
</div>


<p class="partes">3.4. Operación</p>

<ul>
    <li>Región.</li>
    <li>Localidad.</li>
    <li>Nivel de producción por tipo de mineral</li>
    <li>Inversión anual en la operación</li>
    <li>Periodo de la operación</li>
    <li>Operaciones según su situación</li>
</ul>

<div class="botones">
    <div>
        <p class="boton">En tiempo</p>
    </div>

    <div>
        <p class="boton">En riesgo</p>
    </div>

    <div>
        <p class="boton">Demorado</p>
    </div>
    <div>
        <p class="boton">Paralizado</p>
    </div>
</div>




<p class="piepagina">1. Se podra mostrar información comparativa entre ejercicios.</p>