<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Competitividad Minera</p>
        <p class="tituloeditorial">

            El Perú es un país que cuenta con extraordinarios recursos minerales, siendo necesario efectuar grandes inversiones para encontrarlos, extraerlos  y generar beneficios al país.
            <br><br>
            Para que esas inversiones se materialicen es necesario que el país cuente con las condiciones que permita atraerlas y facilitarlas, de lo contrario los inversionistas optarán por invertir en otros países que también cuenten con recursos minerales o en otros sectores económicos.
            <br><br>
            Este espacio permite conocer la situación de dichas condiciones en el Perú, recurriéndose a diversas fuentes e información, como es el caso del Indice de Competitividad Minera – ICM, desarrollado por el Instituto de Ingenieros de Minas del Perú y Macroconsult, la Encuesta Fraser, entre otras. 
            <br><br>
            <u>Importancia:</u> El conocer a detalle la situación de la competitividad minera, permite impulsar los cambios normativos y de gestión pública, a fin de promover su desarrollo sostenible.

      
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">
                        <div class="chiquitinh"><a  routerLink="/app-desarrolloregional/app-iniciodesarrolloregional"><img src="../../../assets/img/desarrolloregional/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/desarrolloregional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrolloregional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrolloregional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrolloregional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                      
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>

