<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Foros anteriores</p>
        <p class="tituloeditorial">

        </p>
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    