<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Índice de contenidos</p>
        <div class="contenidos">
            
            <router-outlet></router-outlet>


 <ol>
    <li>
        Lineamientos de FOROMIN+D
    </li>
    <li>
        Ingreso al FORO
    </li>
    <li>
        Minería en el Perú
    </li>
    <li>
        Contribución a la Economía Nacional
    </li>
    <li>
        Contribución a la Economía Regional y Local
    </li>
    <li>
        Desarrollo Social y Productivo
    </li>
    <li>
        Ambiente
    </li>
    <li>
        Competitividad Minera
    </li>
    <li>
        Oportunidad de Empleo, Proveedores Locales, Desarrollo de Clusters
    </li>
    <li>
        Ciencia y Tecnología
    </li>
    <li>
        Historia y Actualidad
    </li>
    <li>
        Formalización Minera
    </li>
    <li>
        Empresa
    </li>
    <li>
        Te Escuchamos
    </li>
    <li>
        Derechos Humanos y el Sector Minero
    </li>
    <li>
        Foros Anteriores
    </li>
</ol>


            
    
        </div>
    </div>
    
</div>

