<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">LINEAMIENTOS SOBRE FOROMIN+D</p>

        <div class="contenidos">
            
            <router-outlet></router-outlet>

<p class="titulodelcontenido">1. ALCANCES</p>

<p>
   <strong> FOROMIN+D</strong> es un espacio digital de alcance nacional, regional y local que promueve el intercambio de información y conocimiento <strong> sobre Minería y Desarrollo </strong> a través de la participación en <strong> Foros.</strong>
<br><br>
    Los <strong> Foros </strong> de <strong> FOROMIN+D,</strong> buscan una participación interactiva, donde los participantes pueden opinar, entregar y recibir información y conocimiento acerca de <strong>Minería y Desarrollo</strong>  nacional, regional y local.  
</p>

<p class="titulodelcontenido">2. INTEGRANTES Y COLABORADORES EN FOROMIN+D</p>
<p>
    <strong>FOROMIN+D </strong> es una iniciativa sin fines de lucro impulsada por personas e instituciones que consideran que es importante para nuestro país fortalecer el conocimiento que existe sobre Minería y Desarrollo, y que los peruanos cuenten de manera participativa con información transparente y veraz. 
</p>
<a href="#">Información de integrantes y colaboradores en FOROMIN+D.</a>

<p class="titulodelcontenido">3. PARTICIPACIÓN EN EL FORO</p>
<p>La Participación es:</p>

<ul>
    <li>
        De todas las personas que se registren antes o durante el Foro, aceptándose la Política de Participación.
    </li>
    <li>
        Podrá tratarse de participación Nacional, Regional o Local, en función de los alcances del Foro.
    </li>
    <li>
        El respeto en todo espacio de diálogo e interacción es un principio que se debe cumplir. No se permitirá expresiones ni participaciones que lo contravengan. 
    </li>
    <li>
        Se podrá participar en idioma Castellano y Quechua
    </li>
    <li>
        Cada Foro se abrirá durante dos días. Este plazo podrá ser extendido para dar oportunidad a más participaciones. 
    </li>
    <li>
        El horario en el que se visualizará las participaciones en la plataforma será entre las 8 am y 6 pm, no obstante la plataforma estará abierta a la participación en todo momento. 
    </li>
    <li>
        Los tiempos de respuesta y comentarios del equipo de FOROMIN+D, están en función de los temas planteados.
    </li>
</ul>

<button
(click)="funcionverpoliticas()"
class="botonverpoliticas"
>
    {{verpoliticas ? 'Ocultar Políticas de Participación en FOROMIN+D' : 'Ver Políticas de Participación en FOROMIN+D'}}
</button>


<div *ngIf="verpoliticas" class="cuadroverpoliticas">
    <p class="politicadeparticipacion"><strong>POLÍTICA DE PARTICIPACIÓN EN FOROMIN+D</strong></p>
    <ol>
        <li>
            Al contribuir con cualquier comentario y/o material en los Foros, se acepta respetar la política de participación.
        </li>
        <li>
            Uso responsable y adecuado de la plataforma, a través de una participación enfocada en los temas de discusión y canales propuestos.
        </li>
        <li>
            Todo mensaje publicado en los foros expresa únicamente la opinión de su autor, y no necesariamente refleja las opiniones de FOROMIN+D, o las de cualquier otro participante del foro.
        </li>
        <li>
            La persona que decide participar en FOROMIN+D y dejar sus comentarios es la única responsable de estos, así como de asegurarse de que sus comentarios y/o información compartida cumple con las leyes relacionadas con el uso de los servicios tecnológicos vigentes en el país.
        </li>
        <li>
            Los participantes de los foros deben interactuarán con los demás con respeto, y reconocen el derecho a la libertad de opinión y expresión de los participantes. De este modo los comentarios dejados no podrán:
        </li>
        <ol>
            <li>
                Ser difamatorias (un comentario difamatorio es aquel que puede perjudicar la reputación de una persona o de una organización);
            </li>
                    <li>
                        Amenazar, abusar, agredir ni invadir la privacidad de una persona;
                    </li>
                    <li>
                        Ser sexistas, racistas, irreverentes, blasfemas, homófobas, discriminatorias ni ofensivas de cualquier otro modo;
                    </li>
                    <li>
                        Fomentar la violencia ni defender, aprobar o apoyar ningún acto ilícito;
                    </li>
                    <li>
                        Manifestar intenciones violentas contra otras personas u organizaciones;
                    </li>
                    <li>
                        Ser pornográficas, obscenas, lascivas o de contenido sexual explícito y/o de contenido ilícito;
                    </li>
                    <li>
                        Ser utilizadas para suplantar la identidad de otra persona ni para crear una identidad falsa;
                    </li>
                    <li>
                        Infringir derechos de autor, de bases de datos, de marca o de cualquier otra propiedad intelectual, ni derechos de confidencialidad o privacidad de ninguna persona u organización; 
                    </li>
                    <li>
                        Asimismo, las contribuciones no pueden incluir enlaces a sitios web que contengan o enlacen directamente con material que infrinja alguna de estas normas. 
                    </li>
                </ol>
        <li>
            La no eliminación de un material concreto de los foros no representa la aprobación o la aceptación del mismo por parte de FOROMIN.
        </li>
        <li>
            El participante acepta que es el único responsable del contenido de sus mensajes, vídeos, citas y fotogramas, y que no se exigirá ninguna responsabilidad ante cualquier reclamación que pueda surgir por la apariencia y/o transmisión de sus aportaciones.
        </li>
        <li>
            FOROMIN se reserva el derecho de rechazar o eliminar cualquier contenido generado por el usuario en los foros.
        </li>
        <li>
            FOROMIN+D no se responsabiliza de la disponibilidad, contenido ni seguridad de cualquier sitio web externo o material al que se tenga acceso a través del sitio web. 
        </li>
        <li>
            FOROMIN+D se reserva el derecho de revelar la información que tenga sobre los participantes ante el cumplimiento de alguna obligación legal.
        </li>
        <li>
            La política de participación podrá ser revisada en cualquier momento mediante la modificación de esta página. Algunas de las disposiciones incluidas en esta política también pueden ser sustituidas por disposiciones o avisos publicados en otras secciones de nuestro sitio web.
        </li>
    </ol>

</div>



<p class="titulodelcontenido">4. SECCIONES DEL FORO</p>

<p><strong>PLANTEAMIENTO DEL TEMA</strong></p>

<p>
    Se planteará un Tema Central y Temas Complementarios relacionados a este, para ser tratados en cada Foro, de acuerdo con los Ejes Temáticos de <strong> FOROMIN+D</strong> y con el desarrollo de Los Foros.

<br><br>
Los Temas pueden venir en forma de pregunta, premisa, planteamiento o simplemente un enunciado.
<br><br>
Los Ejes Temáticos de <strong> FOROMIN+D </strong>contendrán información actualizada, transparente y veraz, que será recopilada y expuesta en las siguientes semanas.
<br><br>
    Para acceder a la información de los <strong> TEMAS FOROMIN+D</strong>  debes ingresar a las ventanas (recuadros) que están en la portada. 

</p>

<p><strong>PARTICIPACIONES</strong></p>

<ul>
    <li>
        Opiniones, preguntas y sugerencias.
    </li>
    <li>
        Respuestas, precisiones, nuevos temas complementarios y demás aportes de Colaboradores Expertos de FOROMIN+D. Estos se irán dando en función de los temas que se van planteando. 
    </li>
</ul>

<p><strong>CONCLUSIONES Y PROPUESTAS</strong></p>
<ul>
    <li>
        En base a lo tratado en el Foro se elaborarán conclusiones y propuestas que serán expuestas en FOROMIN+D. 
    </li>
    <li>
        Las propuestas serán presentadas a las instituciones relacionadas con su posible implementación.
    </li>
</ul>
<p><strong>INFORME POST FORO</strong></p>
<ul>
    <li>Se informará sobre el estatus de la propuesta alcanzada a la institución correspondiente. </li>
</ul>

<p class="titulodelcontenido">5. INFORMACIÓN DE FOROS ANTERIORES</p>

<ul>
    <li>Buscar por temas</li>
    <li>Buscar por Fechas</li>
</ul>

<p class="titulodelcontenido">6. PRÓXIMOS FOROS</p>
<ul>
    <li>Temas que serán comunicados</li>
</ul>