.cajaeditorial{
    width: 100%;
}

.editorial{
  background-color: white;

  border: 1px solid rgb(199, 199, 199);
  margin-left: 3%;
  margin-right: 3%;
  padding: 15px 3% 3% 3%;
  color: rgb(41, 41, 41);
  font-family: Arial, Helvetica, sans-serif;
}

.editorialetiqueta{
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 3%;
  color: white;
  background-color: #CB6D51;
}

.encabezadotituloeditorial{
  text-align: center;
  font-weight: bolder;
  font-size: 1.2em;
}

.tituloeditorial{
  margin-bottom: 3%;
  margin-top: 2%;
  color: rgb(49, 49, 49);
  text-align: justify;
}

.contenidos{
  overflow: scroll;
  overflow-x: hidden;
  border: rgb(155, 152, 152) 1px solid;
  padding: 3%;
  height: 600px;
}

.titulodelcontenido{
  font-weight: bolder;
  text-decoration: underline;
}

.botonverpoliticas{
 
  margin-bottom: 10px;
  background-color: rgb(199, 129, 108);
  border: none;
  color: white;
  padding: 3px 10px 3px 10px;
  font-weight: bold;
  cursor: pointer;
}

.cuadroverpoliticas{
  border: 1px solid rgb(180, 180, 180);
}

.politicadeparticipacion{
  text-align: center;
}