<p><strong>ÍNDICE</strong></p>

<p class="titulo">1. OPORTUNIDADES DE EMPLEO LOCAL EN OPERACIONES Y PROYECTOS MINEROS </p>
<p class="subtitulo">NIVEL REGIÓN Y LOCALIDAD</p>

<p class="textogeneral">
    Empresa o Institución que lo requiere 
<br>    Detalle de Posición
<br>    Registro
<br>    Contacto de la empresa o institución
</p>

<p class="titulo">2. OPORTUNIDADES EN COMPRAS LOCALES DE BIENES Y SERVICIOS </p>
<p class="subtitulo">NIVEL REGIÓN Y LOCALIDAD</p>
<p class="textogeneral">
    Empresa o Institución que lo requiere 
<br>    Detalle de Posición
<br>    Registro
<br>    Contacto de la empresa o institución
</p>

<p class="titulo">3. CADENAS PRODUCTIVAS – CLUSTERS MINEROS</p>
<p class="subtitulo">NIVEL REGIÓN Y LOCALIDAD</p>
<p class="textogeneral">
    Iniciativa
<br>    Detalle
<br>    Registro
<br>    Contacto
</p>

<p class="titulo">4. OTRAS OPORTUNIDADES DE EMPLEO </p>
<p class="subtitulo">NIVEL REGIÓN Y LOCALIDAD</p>

<p class="textogeneral">
    Empresa o Institución que lo requiere 
<br>    Detalle del bien o servicio
<br>    Registro
<br>    Contacto de la empresa o institución
</p>

<p class="titulo">5. PROCESOS DE CAPACITACIÓN PARA MINERÍA</p>
<p class="subtitulo">NIVEL REGIÓN Y LOCALIDAD</p>
<p class="textogeneral">
    Empresa o Institución
<br>    Detalle
<br>    Registro
<br>    Contacto
</p>

<p class="titulo">6. PROGRAMAS Y CURSOS EN MINERÍA</p>
<p class="subtitulo">NIVEL REGIÓN Y LOCALIDAD</p>

<p class="textogeneral">
    Institución
<br>    Detalle
<br>    Registro
<br>    Contacto
</p>



   <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->