
<h2>4. Inversión Minera Nivel Regional, Local e Individual</h2>


<p class="titulosprincipales">4.1. Exploración</p>


<p class="subtitulos">Proyecto XXX</p>

<ul>
    <li>Año.</li>
    <li>Región.</li>
    <li>Localidad.</li>
    <li>Monto de inversión.</li>
    <li>Tipo de Mineral que se explora.</li>
    <li>Potencial de yacimiento que se explora: Gran, mediana o pequeña minería.</li>
    <li>Proyecto con resultados positivos o descartado.</li> 
    <li>Monto de inversión del proyectos descartado.</li>
    <li>Período de la exploración.</li>
    <li>Proyecto según su situación por Región o Localidad.</li>
</ul>


<div class="enlacesdetalle">
    
    <p class="cajitas">En Tiempo</p>
    <p class="cajitas">En Riesgo</p>
    <p class="cajitas">Demorado</p>
    <p class="cajitas">Paralizado</p>
    <p class="cajitas">Cancelado</p>
</div>

<p class="contenido1">Motivo (si está en riesgo, demorado o cancelado) (2)</p>

<div class="enlacesdetalle">
    
    <p class="cajitas">Permisos</p>
    <p class="cajitas">Social</p>
    <p class="cajitas">Minería Informal o Ilegal</p>
    <p class="cajitas">Político</p>
    <p class="cajitas">Tecnológico</p>
    <p class="cajitas">Falta de Recursos Minerales</p>
    <p class="cajitas">Pendiente Financiamiento</p>
    <p class="cajitas">En Evaluación</p>

</div>



<p class="titulosprincipales">4.2. En cartera pendiente de evaluación, de negociación con comunidades, de estudios a ser concluidos, de obtención de financiamiento, etc.</p>

<ul>
    <li>Año.(2)</li>
    <li>Región.</li>
    <li>Localidad.</li>
    <li>Monto aproximado de la inversión pendiente por definir.</li>
    <li>Nivel aproximado de producción por tipo de mineral.</li>
    <li>Plazo que tomaría la construcción.</li>
    <li>Perido futuro de operación.</li> 
    <li>Potencial de yacimiento: Gran, mediana o pequeña minería.</li>
    <li>Tiempo en cartera.</li>
    <li>Proyecto según su situación.</li>
</ul>


<div class="enlacesdetalle">
    
    <p class="cajitas">En Tiempo</p>
    <p class="cajitas">En Riesgo</p>
    <p class="cajitas">Demorado</p>
    <p class="cajitas">Paralizado</p>
    <p class="cajitas">Cancelado</p>
</div>

<p class="contenido1">Motivo (si está en riesgo, demorado o cancelado) (2)</p>

<div class="enlacesdetalle">
    
    <p class="cajitas">Permisos</p>
    <p class="cajitas">Social</p>
    <p class="cajitas">Minería Informal o Ilegal</p>
    <p class="cajitas">Político</p>
    <p class="cajitas">Tecnológico</p>
    <p class="cajitas">Falta de Recursos Minerales</p>
    <p class="cajitas">Pendiente Financiamiento</p>
    <p class="cajitas">En Evaluación</p>

</div>



<p class="titulosprincipales">4.3. Construcción</p>

<p>Proyecto XXX</p>

<ul>
    <li>Año.</li>
    <li>Región.</li>
    <li>Localidad.</li>
    <li>Monto de inversión.</li>
    <li>Nivel de producción por tipo de mineral de futura operación.</li>
    <li>Perido futuro de construcción.</li> 
    <li>Fecha inicio de operación.</li> 
    <li>Periodo futuro de operación.</li>
    <li>Proyecto según su situación.</li>
</ul>


<div class="enlacesdetalle">
    
    <p class="cajitas">En Tiempo</p>
    <p class="cajitas">En Riesgo</p>
    <p class="cajitas">Demorado</p>
    <p class="cajitas">Paralizado</p>
</div>

<p class="contenido1">Motivo (si está en riesgo, demorado o paralizado) </p>

<div class="enlacesdetalle">
    
    <p class="cajitas">Permisos</p>
    <p class="cajitas">Social</p>
    <p class="cajitas">Minería Informal o Ilegal</p>
    <p class="cajitas">Político</p>
    <p class="cajitas">Tecnológico</p>

</div>



<p class="titulosprincipales">4.4. Operación</p>

<p>Proyecto XXX</p>

<ul>
    <li>Región.</li>
    <li>Localidad.</li>
    <li>Nivel de producción por tipo de mineral.</li>
    <li>Inversión anual en la operación.</li> 
    <li>Periodo de la operación.</li>
    <li>Estado de operación.</li>
</ul>


<div class="enlacesdetalle">
    
    <p class="cajitas">Normal</p>
    <p class="cajitas">En Riesgo</p>
    <p class="cajitas">Paralizado</p>
</div>

<p class="contenido1">Motivo (si está en riesgo o paralizado) </p>

<div class="enlacesdetalle">
    
    <p class="cajitas">Permisos</p>
    <p class="cajitas">Social</p>
    <p class="cajitas">Minería Informal o Ilegal</p>
    <p class="cajitas">Político</p>
    <p class="cajitas">Tecnológico</p>

</div>




<br>
<br>
<br>
<br>

<div class="referencia">
    <p>(1) Para marcar y sumar a la estadística</p>
    <p>(2) Cuando uno ingrese a ese recuadro encontrará información más precisa de lo que ocurre, pero además la información irá a la estadística. </p>
    <p>(3) A través de estas sub ventanas te diriges a la información de de Ejes Temáticos de Ventanas 4 o 5.</p>
</div>