
.seccionenlaces{
    margin-top: 5%;
  }
  
  .botoncito{
    display: inline-block;
    width: 50%;
    background-color: rgb(136, 135, 135);
    color: white;
    padding: 1em;
    margin: 1em;
  }

.titulosprincipales{
      background-color:  rgb(209, 209, 209);
      color: white;
      padding: 1em;
  }
  
  .subtitulos{
      font-weight: bolder;
  }

  .contenido1{
      margin-left: 5%;
  }

.enlacesdetalle{
display: inline-block;
width: 100%;
}

.cajitas{
    background-color: rgb(136, 135, 135);
    color: white;
    padding: 1em;
    display: inline-block;
    margin-left: 5%;
}

.referencia{
  font-size: 0.7em;
}