<h2>2. Estado de Petitorios Mineros</h2>

<ul>
    <li># de Petitorios ………..…</li>
    <li>Área en operacion …..…….</li>
    <li>Área en exploracion………..</li>
    <li>Área en construccion……….</li>
    <li>Área sin actividad minera formal:</li>
    <ul>
        <li>Área cuyo titular minero es una empresa que tienen registro de actividad minera formal en el Perú o en el mundo, y/o que pueden sustentar actividad futura en estas áreas.</li>
        <li>Área cuyo titular minero está listo para ingresar a desarrolar actividad pero son impedidos por presencia de mineros en proceso de formalización, o minero informales.</li>
        <li>Área cuyo titular minero está listo para ingresar a desarrolar actividad pero son impedidos por comunidades vecinas.</li>
        <li>Área cuyo titular minero no tiene registro de actividad minera formal en otras áreas, y/o que no puede sustentar actividad formal futura en estas áreas.(1). </li>
    </ul>
    <li>Área donde se desarrolla minería en proceso de formalización.(2) </li>
    <ul>
        <li>Área ocupada que es reclamada por su titular minero que está en capacidad de iniciar actividades formales.</li>
        <li>Área ocupada que es reclamada por su titular minero que no está en capacidad de iniciar actividades formales. </li>
        <li>Área ocupada que no es reclamada por su titular minero.</li>
    </ul>
    <li>Área donde se desarrolla minería informal.(2) </li>
    <ul>
        <li>Área ocupada que es reclamada por su titular minero que está en capacidad de iniciar actividades formales. </li>
        <li>Área ocupada que es reclamada por su titular minero que no está en capacidad de iniciar actividades formales. </li>
        <li>Área ocupada que no es reclamada por su titular minero.</li>
    </ul>
</ul>

<div class="pie">
    <p class="piepagina">1. Esta información ayudará a conocer el potencial minero que tiene menor probabilidad de ser aprovechado formalmente. se está aprovechando, o que se está reduciendo y que no está generando</p>
    <p class="piepagina">2. Esta información permite conocer el área de petitorios mineros que no es aprovechado formalmente, por lo que no genera beneficios a favor del país, no obstante si genera pasivos mineros y por lo tanto se tendrá que destinar recursos del Estado para su remediación.</p>
</div>