<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Minería en el Perú </p>
        <p class="tituloeditorial">

            Se hará seguimiento y evaluará de forma constante e integral el avance de los proyectos y operaciones mineras, así como del sector en su conjunto. Este espacio tomará información de reportes e informes oficiales,  y también de instituciones y empresas que la provean.  
            <br><br>
            <u><strong>Importancia:</strong></u>  Evidenciar las situaciones que afectan o favorecen el desarrollo del sector, a fin que se tome acciones correctivas de manera oportuna y que se de continuidad a las políticas e iniciativas que lo favorecen, evitando afectar la Contribución del Sector al desarrollo nacional.   

        </p>
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

</div>

