<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Ciencia y Tecnología</p>
        <p class="tituloeditorial">
            A lo largo de los años la ciencia y tecnología ha permitido optimizar y/o encontrar mejoras en diversos temas relacionados con la minería.
<br><br>
A su vez la Minería ha contribuido con recursos  para el desarrollo de tecnologías en otros sectores como es el caso de la agricultura, industria, etc.
<br><br>
<u> Importancia:</u> este espacio permite mostrar la evolucion de la Minería desde un punto de vista científico en diversos aspectos, entre ellos, el cuidado de su entorno. A su vez mostrará su contribución científica con otros sectores económicos y con la sociedad, lo que contribuye con el Desarrollo del país.  
 </p>

        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">

                        <div class="chiquitinh"><a  routerLink="/app-clusterminero/app-inicioclusterminero"><img src="../../../assets/img/clusterminero/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/clusterminero/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>


