<div class="cajaeditorial">
    <div class="editorial">
        <p class="editorialetiqueta">
            PRIMER FORO 01-2020
        <br>
            TEMA: EL FORO DE MINERÍA Y DESARROLLO
        <br>    FOROMIN+D
        </p>

            <div class="cuadrotextoeditorial">

                <p class="titulointroduccion">INTRODUCCIÓN AL TEMA:</p>

                <p class="textoeditorial">
                    FOROMIN+D es un espacio digital institucional de alcance nacional, regional y local que promueve el intercambio de información y conocimiento sobre Minería y Desarrollo, a través de Foros, Ejes Temáticos y otras dinámicas de interacción. 
                    <br><br>            
                    FOROMIN+D es una iniciativa sin fines de lucro impulsada por personas e instituciones que consideran que es importante para nuestro país transmitir conocimiento sobre Minería y Desarrollo, de manera participativa y con información transparente y veraz.


                </p>

                <div class="cuadrodepreguntas">
                    <p><strong> Preguntas a comentar:</strong></p>
                    <ul>
                        <li>
                            ¿Cuáles considera que son los principales aportes y contribuciones del <strong>Foro de Minería y Desarrollo</strong> en el contexto nacional, regional y local?
                        </li>
                        <li>
                            ¿Qué temas adicionales propones considerar en los siguientes Foros?
                        </li>
                    </ul>
                    <button class="botondeindice">Ir al Índice FOROMIN+D</button>
                </div>
                    
                    




                <!--
            -->
    

                <p class="titulotextoeditorial antesdelforo">TE INVITAMOS A PARTICIPAR:</p>
               
<!--INICIO DE LOS COMENTARIOS DEL FORO-->

<div class="editorial">
    
    

           <div class="componente2">
               
               <div class="comentariosforo"
               id="chat" 
               onmouseover="parar=1" 
               onmouseout="parar=0"
               >
               
               
               
               <!--COMENTARIOS ANTIGUOS
                
                
               -->
                
    
    <div class="cadacomentariofijo1 cada9">
        <div class="repositoriocomentarios">
            <div>
                <img class="fotito" src="../../../assets/img/foro/perfil2.jpg" alt="Imagen Perfil">
            </div>
            <div class="textos">
                <div>
                    <p class="nombreusuario">Yovana Castro</p>
              <p class="primeraintervencion">Hola. Yo soy de Arequipa. Acá no existen espacios para debatir sobre estos temas, y la población ya no confía en nadie. Es importante que podamos contar con información objetiva y real, sobre cuales son los impactos que van a generar los proyectos y qué beneficios vamos a tener como arequipeños.</p>
            </div>
              
              <div class="comentariosforomin">
                      <p class="iconos">Me gusta</p>
                      <p class="iconos">Responder</p>
                      <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                      <p class="iconos ocho">23</p>
                      <p class="iconos">-</p>
                      <p class="iconos">4d</p>
              </div>
              
      </div>
    </div>
</div>

<div class="cadacomentariofijo1 cada8">
    <div class="repositoriocomentarios">
      <div>
          <img class="fotito" src="../../../assets/img/foro/perfil.jpg" alt="Imagen Perfil">
      </div>
      <div class="textos">
          <div>
              <p class="nombreusuario">Maritza Nuñez</p>
              <p class="primeraintervencion">Yo estoy de acuerdo con Jorge Machaca, pues la ley minera ya tiene 30 años. La nueva ley debe tomar en cuenta las protestas que ha habido y la necesidad de que la población tenga mayor información y sea consultada desde antes que llegue la empresa.
            </p>
        </div>
        
        <div class="comentariosforomin">
            <p class="iconos">Me gusta</p>
                      <p class="iconos">Responder</p>
                      <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                      <p class="iconos ocho">14</p>
                      <p class="iconos">-</p>
                      <p class="iconos">3d</p>
              </div>
              
      </div>
    </div>
</div>

<div class="cadacomentariofijo1 cada7">
    <div class="repositoriocomentarios">
        <div>
            <img class="fotito" src="../../../assets/img/foro/per5.png" alt="Imagen Perfil">
      </div>
      <div class="textos">
          <div>
              <p class="nombreusuario">Jorge Machaca</p>
              <p class="primeraintervencion">Para que no haya tantos conflictos, las empresas necesitan ser mejor fiscalizadas, y eso no pasa porque nuestra ley minera esta desactualizada. No nos protege, solo protege a las empresas.
            </p>
        </div>

              <div class="comentariosforomin">
                      <p class="iconos">Me gusta</p>
                      <p class="iconos">Responder</p>
                      <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                      <p class="iconos ocho">5</p>
                      <p class="iconos">-</p>
                      <p class="iconos">3d</p>
              </div>
              
      </div>
    </div>
</div>

                <div class="cadacomentariofijo1 cada6">
                    <div class="repositoriocomentarios">
                      <div>
                        <img class="fotito" src="../../../assets/img/foro/per4.png" alt="Imagen Perfil">
                      </div>
                      <div class="textos">
                          <div>
                              <p class="nombreusuario">Gloria Esteban</p>
                              <p class="primeraintervencion">Yo creo que es muy importante que podamos contar con información sobre la minería, y tener espacios donde la población pueda dar su opinión. Pero qué nos garantiza que la información que nos brinda es verdadera, pues sabemos que las empresas manejan el país.
                            </p>
                        </div>

                              <div class="comentariosforomin">
                                      <p class="iconos">Me gusta</p>
                                      <p class="iconos">Responder</p>
                                      <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                                      <p class="iconos ocho">9</p>
                                      <p class="iconos">-</p>
                                      <p class="iconos">2d</p>
                              </div>
                              
                      </div>
                    </div>
                </div>



<!--FIN DE COMENTARIOS ANTIGUOS-->

<!-- Inicio Comentarios Mario Gamarra-->
                                        
<div class="cadacomentariofijo1 cada4">
    <div class="repositoriocomentarios">
        <div>
            <img class="fotito" src="../../../assets/img/foro/per3.png" alt="Imagen Perfil">
        </div>
  <div class="textos">
      <div>
          <p class="nombreusuario">Mario Gamarra</p>
          <p class="primeraintervencion">El problema de la minería es que contamina nuestros ríos y perjudica a los campesinos. No nos dicen la verdad sobre la contaminación.</p>
        </div>
        
        <div class="comentariosforomin">
                  <p class="iconos">Me gusta</p>
                  <p class="iconos">Responder</p>
                  <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                  <p class="iconos ocho">12</p>
                  <p class="iconos">-</p>
                  <p class="iconos">2d</p>
          </div>
          
  </div>
</div>
</div>
            
<div class="cadacomentariofijo1 cada5">
<div class="repositoriocomentarios">
  <div>
    <img class="fotito" src="../../../assets/img/foro/foromind.svg" alt="Imagen Perfil">
  </div>
  <div class="textos">
      <div>
          <p class="nombreusuario">FOROMIN+D</p>
          <p class="primeraintervencion">Buenas tardes Mario, coméntanos el caso particular de tu localidad, tal vez podamos identificar información que pueda ayudar a conocer mejor lo que está pasando en tu región. Es de nuestro interés que las empresas, sociedad civil y el estado promuevan una actividad minera responsable con los estándares adecuados de cuidado medio ambiental. Esperamos tu respuesta</p>
        </div>

          <div class="comentariosforomin">
                  <p class="iconos">Me gusta</p>
                  <p class="iconos">Responder</p>
                  <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                  <p class="iconos ocho">17</p>
                  <p class="iconos">-</p>
                  <p class="iconos">2d</p>
          </div>
          
  </div>
</div>
</div>

<!-- Fin de Comentarios Mario Gamarra-->





<!--Inicio Comentarios Jorge-->                        

            <div class="cadacomentariofijo1">
    <div class="repositoriocomentarios">
        <div>
            <img class="fotito" src="../../../assets/img/foro/per1.png" alt="Imagen Perfil">
                </div>
                <div class="textos">
                    <div>
                        <p class="nombreusuario">Jorge Quispe Rojas</p>
                        <p class="primeraintervencion">No hay espacios donde se escuche verdaderamente al pueblo. Las empresas mineras solo saben hacer sus grandes negocios y se llevan la plata de todos los peruanos .....</p>

                        <div class="comentariosforomin">
                            <p class="iconos">Me gusta</p>
                                <p class="iconos">Responder</p>
                                <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                                <p class="iconos ocho">8</p>
                                <p class="iconos">-</p>
                                <p class="iconos">1d</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 
            
            <div class="cadacomentariofijo1 cada2">
                <div class="repositoriocomentarios">
                    
                    <div>
                      <img class="fotito" src="../../../assets/img/foro/foromind.svg" alt="Imagen Perfil">
                    </div>
                    <div class="textos">
                        
                        <div class="desencaje">
                            <p class="nombreusuario">FOROMIN+D</p>
                           
                            <p class="primeraintervencion">Buenos días Jorge, gracias por compartir tus comentarios. ¿Sabías que el sector minero aporta el 10% del PBI en el Perú y que esto ha permitido contar con los recusos para la reducción de la pobreza en % en los últimos 15 años?.
                                Te invito a visitar el siguiente enlace donde podrás encontrar más información sobre la importancia de la minería para el desarrollo del Perú.
                            </p>
                            
                            <!--
                                -->                              
                                </div>
                                
                        <div class="comentariosforomin">
                            <p class="iconos">Me gusta</p>
                            <p class="iconos">Responder</p>
                            <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                            <p class="iconos ocho">23</p>
                            <p class="iconos">-</p>
                            <p class="iconos">1d</p>
                        </div>

                    </div>
                </div>
           </div>
           
           <div class="cadacomentariofijo1  cada3">
               <div class="repositoriocomentarios">
                  <div>
                      <img class="fotito" src="../../../assets/img/foro/per1.png" alt="Imagen Perfil">
                    </div>
                    <div class="textos">
                        <div>
                            <p class="nombreusuario">Jorge Quispe Rojas</p>
                            <p class="primeraintervencion">Gracias por la respuesta, al parecer la minería sí deja recursos para el país, pero el problema es que contaminan el medio ambiente :-(</p>
                        </div>
                        
                        <div class="comentariosforomin">
                            <p class="iconos">Me gusta</p>
                            <p class="iconos">Responder</p>
                            <img src="../../../assets/img/foro/fb.svg" alt="Like"  class="iconos like">
                            <p class="iconos ocho">12</p>
                            <p class="iconos">-</p>
                            <p class="iconos">1d</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
<!-- Fin de nuevos comentarios Jorge  -->


                <!-- Esta parte es el cuadro del foro comentado-->
                
                        <!-- Aqui el sistema para incluir nuevos comentarios-->
                
                        <!-- ingreso de nuevos comentarios-->
                        
                        <div>
                            <div>
                                <div>
                                    <div class="cadacomentariofijo1 cada7">
                                        <div *ngFor="let ingreso of ingresar" class="repositoriocomentarios">
                                            <div>
                                                <img class="fotito" src="../../../assets/img/foro/fotoperfilingreso.jpg" alt="Imagen Perfil">
                                            </div>
                                            <div class="textos">
                                                <div>
                                                    <p class="nombreusuario">Usuario Anónimo</p>
                                                    
                                                    <div  class="primeraintervencion ejemplo">
                                                        {{ingreso}}
                                                    </div>
                                                  
                                            </div>
                  
                                                  <div class="comentariosforomin">
                                                          <p class="iconos">Me gusta</p>
                                                          <p class="iconos">Responder</p>
                                                          <p class="iconos">-</p>
                                                          <p class="iconos">1d</p>
                                                  </div>
                                                  
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                
                        <!-- Aqui los comentarios fijos-->
                
                
        
                
          
        
                                
                <!-- Fin de toda la parte comentada-->
                
<div>
    <span id="final"></span>
</div>

              </div>
           </div>
         
           
    
                <!--Aqui ingresas un nuevo comentario-->
                
                <div class="cadacomentariofijo1 cada17">
                    <div class="repositoriocomentarios">
                        <div>
                            <img class="fotito" src="../../../assets/img/foro/fotoperfilingreso.jpg" alt="Imagen Perfil">
                        </div>
                        <div class="textos">
                            <div>
                                <p class="nombreusuario nombreusuarioejemplo">Usuario Anónimo</p>
                                <form class="formulario primeraintervencion" (submit)="nuevoIngreso(ingreso)">
                                     <input
                                     #ingreso 
                                     type="text"
                                     name="ingreso"
                                     placeholder="Agrega un nuevo comentario...">
                                 </form>
                        </div>
            
                              
                      </div>
                    </div>
                </div>
            
            <!--fin del nuevo comentario-->


</div>
                

<!--Fin de los comentarios del FORO-->


                <br>
                <p class="titulotextoeditorial">CONCLUSIONES Y PROPUESTAS:</p>
          
            <p class="titulotextoeditorial">INFORME POST FORO:</p>
          

            </div>
    </div>
    <br>


    <br>
</div>
