.cajaeditorial{
    width: 100%;
}

.editorial{
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    margin-left: 3%;
    margin-right: 3%;
    padding: 15px 3% 3% 3%;
    color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
}

.editorialetiqueta{
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #CB6D51;
    }

.titulocentrado{
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
}

.editorialetiqueta1{
    font-size: 0.1em;
}

.codigo{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 3%;
    
}

.tituloeditorial{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
    color: #CB6D51;

}

.tituloeditorialcomentarios{
    margin-bottom: 0px;
}

.titulotextoeditorial{
    font-weight: bolder;
}

.textoeditorial{
    margin-left: 2%;
}


.titulointroduccion{
    font-weight: bolder;
    margin-top: 0px;
}

.cuadrotextoeditorial{
    text-align: justify;
     border: 1px solid rgb(199, 199, 199);
    padding: 3%;
    padding-top: 10px;
    color: black;
    background-color: white;
}

sub{
    color: blue;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: bolder;
}

.cuadrodepreguntas{
    border: 1px solid rgb(172, 172, 172);
    padding: 15px;
}

.botondeindice{
    margin-left: 5%;
    cursor: pointer;
}

/*Foro*/

.encabezadoforo{
    display: inline-block;
}

.flecha{
    width: 20%;
}

.izquierda{
    float: left;
}

.derecha{
    float: right;
}

.titulocodigo{
    display: inline-block;
    width: 100%;
    padding: 0px;
}

.codigo{
    margin: 0px;
    color: #CB6D51;
}

.comentariosforo{
    /*
    */
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
  text-align: center;
  border: 1px solid rgb(228, 228, 228);
  padding: 5px;
}

.comentarios1{
  display: none;
}

.sinespacioabajo{
    margin-bottom: 2px;
}

.yaprevistos{
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
}

.vertemasidentificados{
    display: inline-block;
    margin-left: 10px;
    background-color: rgb(199, 129, 108);
    border: none;
    color: white;
    padding: 3px 10px 3px 10px;
    font-weight: bold;
    cursor: pointer;
}

.listadodetemas{
    color: rgb(3, 3, 66);
    font-size: 0.8em;
}

.antesdelforo{
    margin-top: 3em;
}
/* formulario de input*/

.seccionformulario{
    display: inline-block;
}

.fotoperfilingreso{
    width: 50px;
}


.formulario{
    border: none;
    padding-top: 1em;
    color: cornsilk;
    background-color: rgb(214, 214, 214);
}

.formulario input{
    display: inline-block;
    width: 100%;
    border: none;
    outline: white;
    background-color: rgb(214, 214, 214);
    color: black;

}

/*sección comentarios de usuarios*/

.btn{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(199, 129, 108);
    border: none;
    color: white;
    padding: 3px 10px 3px 10px;
    font-weight: bold;
    cursor: pointer;
}

.cada17{
    margin-bottom: 5%;

}

.cada7{
    display: flex;
    flex-flow: column ;
    
}

.cadacomentariofijo1{

    text-align: left;
    margin-top: 2%;
}

.repositoriocomentarios{
    display: flex;
}

.fotito{
    width: 50px;
}

.textos{
   margin-left: 10px;
   width: 100%;
   
}
.primeraintervencion{
    font-size: 0.8em;
    margin: 0px;
}

.ejemplo{
    margin-top: 1em;
}

.nombreusuario{
    margin: 0px;
    color: rgb(55, 89, 154);
    font-weight: bolder;
    font-size: 0.9em;
}

.nombreusuarioejemplo{
    color: white;
}


.comentariosforomin{
    width: 100%;
    font-size: 0.7em;
    font-weight: bolder;
}

.iconos{
    display: inline-block;
    margin-left: 20px;
    color: rgb(55, 89, 154);
}

.ocho{
    margin-left: 2%;
}

.like{
    width: 15px;

}

.cada2{
    margin-left: 10%;
}

.cada3{
    margin-left: 10%;
}

.cada5{
    margin-left: 10%;
}
  /*sección celulares*/

  @media (max-width:420px){

.editorialetiqueta{
    font-size: 1.3em;
    margin-top: 2%;
}

.tituloeditorial{
    font-size: 1.3em;
}

.flecha{
    width: 40%;
}    

 
.codigo{
    text-align: center;
    font-size: 1.5em;

}





.comentariosforomin{
     font-size: 0.6em;
 }

 .iconos{
     margin-left: 10px;
 }

 .desencaje{
     width: 100%;
 }
  


      }