<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">TE ESCUCHAMOS</p>
        <p class="tituloeditorial">
            Como parte de su rol articulador y descentralizador de la información, FOROMIN+D, además del espacio del Foro, cuenta con un canal permanente para atender preguntas y consultas, así como recibir aportes y comentarios, respecto a  FOROMIN+D o en relación a la Actividad Minera y Desarrollo.  
            <br><br>
            La respuesta a los mensajes que recibamos a través de TE ESCUCHAMOS, se enviará en el plazo má corto posible, el cual estará en función de si FOROMIN + D cuenta con la información o esta corresponde a un Tercero.
            <br><br>
            Para ello, ponemos a tu alcance los siguientes canales:
            

        </p>
            
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">

                        <div class="chiquitinh"><a  routerLink="/app-teescuchamos/app-inicioteescuchamos"><img src="../../../assets/img/teescuchamos/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/teescuchamos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>

