<p><strong>ÍNDICE</strong></p>

    <p class="titulo">1. POSICIÓN DEL PERÚ EN COMPETITIVIDAD MINERA</p>

    <p><strong>Información a desarrollar</strong></p>

<ol>
    <li>
        Indice de Competitividad Minera – ICM, desarrollado por el Instituto de Ingeniero de Minas del Perú y Macroconsult (Link con el Instituto). Se basa en métricas reales y no en percepciones.
    </li>
    <li>
        Posición según Encuesta Fraser.
    </li>
    <li>
        Otros reportes e informaciones.
    </li>
</ol>

<p class="titulo">2. AVANCES DE INDICADORES QUE INFLUYEN EN LA COMPETITIVIDAD DEL SECTOR MINERO EN EL PERÚ</p>
<p><strong>Información a desarrollar</strong></p>


<ol>
    <li>
        Infraestructura (Puertos, Ferrocarriles y carreteras).
    </li>
    <li>
        Regulación (número de permisos y plazos).
    </li>
    <li>
        Institucionalidad.
    </li>
    <li>
        Entorno social (indicadores desarrollo socioeconómico: ingreso per cápita, Índice de Desarrollo Humano (IDH) y la proporción de la población que vive en las zonas rurales).
    </li>
    <li>
        Potencial geológico.
    </li>
    <li>
        Política tributaria.
    </li>
    <li>
        Tasa Interna de Retorno (TIR) al accionista.
    </li>
</ol>

<p class="titulo">3. NORMATIVA MINERA E INICIATIVAS QUE PROMUEVEN LA COMPETITIVIDAD</p>
<ol>
    <p><strong>Información a desarrollar</strong></p>

    <li>
        Promueve la Competitividad.
    </li>
    <li>
        Perjudica la Competitividad.
    </li>
</ol>

<p class="titulo">4. GESTIÓN PÚBLICA E INICIATIVAS QUE PROMUEVEN LA COMPETITIVIDAD</p>
<p><strong>Información a desarrollar</strong></p>


<ol>
    <li>Promueve la Competitividad.
    </li>
    <li>Perjudica la Competitividad.
    </li>
</ol>

    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->