<p><strong>ÍNDICE</strong></p>

<p><strong><u>NIVEL NACIONAL</u></strong></p>

<p class="subtitulo">CIERRE DE BRECHAS NACIONAL Y CONTRIBUCIÓN DE LA ACTIVIDAD MINERA ÚLTIMOS VEINTE AÑOS (2000 – 2020)</p>
<p class="textogeneral">
    La presente información se elabora sobre la base de la contribución de la actividad minera, y los proyectos de inversión de cierre de brechas que han sido desarrollados en los últimos 20 años en el país.
<br><br>
A su vez se hace una correlación de los efectos de estos proyectos en la reducción de la pobreza, la generación de empleo, entre otros alcances. 
</p>
<ul>
    <li>
        Salud.
    </li>
    <li>
        Educación.
    </li>
    <li>
        Infraestructura.
    </li>
    <li>
        Actividades productivas.
    </li>
    <li>
        Programas sociales.
    </li>
    <li>
        Empleabilidad.
    </li>
</ul>


<p class="subtitulo">NIVEL REGIONAL Y POR LOCALIDADES</p>



<div class="cuadrogeneral">

    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Ancash</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Apurímac</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Arequipa</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>



    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Cajamarca</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Cusco</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>

    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Ica</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>



    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">La Libertad</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Lima</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Madre de Dios</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Moquegua</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>



    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Puno</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Tacna</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>



</div>

<p class="subtitulo">PROYECTOS EJECUTADOS ÚLTIMOS VEINTE AÑOS (2000 – 2020) Y LOCALIDADES DONDE SE DESARROLLA MINERÍA</p>

<ul>
    <li>
        Cifras.
    </li>
    <li>
        Salud.
    </li>
    <li>
        Educación.
    </li>
    <li>
        Infraestructura.
    </li>
    <li>
        Actividades productivas.
    </li>
    <li>
        Programas sociales.
    </li>
    <li>
        Empleabilidad.
    </li>
</ul>



<p class="subtitulo">PROYECTOS EN EJECUCIÓN</p>

<p class="subtitulo">PROYECTOS EN CARTERA CON EXPEDIENTES TÉCNICOS EN ELABORACIÓN O CONCLUIDOS</p>

<p class="subtitulo">NECESIDADES DE INVERSIÓN </p>

<p class="subtitulo">CORRELACIÓN ENTRE NECESIDADES DE INVERSIÓN Y CONTRIBUCIÓN DE LA ACTIVIDAD MINERA</p>
<ul>
    <li>
        Producción minera y montos de distribución de los recursos que genera la minería,en la actualidad
    </li>
    <li>
        Si se incrementase el canon minero con más tributos con los que contribuye la minería. 
    </li>
    <li>
        Si iniciaran operación minera los proyectos que se encuentran demorados o paralizados.
    </li>
    <li>
        Si la minería informal se formalizase e iniciase el pago de contribuciones. 
    </li>
    <li>
        Si iniciase operaciones los proyectos mineros en cartera.
    </li>
</ul>






    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->