<p><strong>ÍNDICE</strong></p>

<p class="titulo">1. DESARROLLO DE TECNOLOGÍAS USADAS EN MINERÍA</p>
<p class="subtitulo">EN RELACIÓN CON EL AGUA</p>
<ul>
    <li>
        Recirculación de agua.
    </li>
    <li>
        Tratamiento de aguas antes de su vertimento.
    </li>
    <li>
        Desalinizacion de agua.
    </li>
</ul>

<p><strong>EN RELACIÓN CON POLVOS <br>
EN RELACIÓN CON VERTIMENTOS</strong></p>


<p class="titulo">2. DESARROLLO DE TECNOLOGÍAS USADAS EN AGRICULTURA</p>

<ul>
    <li>
        EN RELACIÓN CON MEJORA DE CULTIVOS.
    </li>
    <li>
        EN RELACIÓN CON LA MEJORA DE RIEGO.
    </li>
    <li>
        EN RELACIÓN CON MEJORA DE ALMACENAMIENTO DE AGUA.
    </li>
</ul>

<p class="titulo">3. DESARROLLO DE TECNOLOGÍAS USADAS EN LA INDUSTRIA</p>





    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->