<p class="titulo">1. Marco normativo existente para Empresas y Derechos Humanos</p>
<p class="textogeneral">(Se actualizará constantemente la normativa nacional e internacional existente)</p>
<ul>
    <li>Internacional</li>
    <ul>
        <li>Declaración de Derechos Humanos</li>
        <li>Principios rectores sobre Empresas y Derechos Humanos (ONU)</li>
        <li>XXX</li>
    </ul>
    <li>Nacional</li>
    <ul>
        <li>XXXXXX</li>
        <li>XXXXXX</li>
    </ul>
</ul>
 
<p class="titulo">2. Guías de derechos humanos para empresas</p>
<p class="textogeneral">Se pondrá a disposición enlaces a las principales guías existentes para el sector empresarial, como, por ejemplo:</p>
<ul>
    <li>
        Guías del Global Reporting initiative (GRI) 
    </li>
    <li>
        Principios de Inversión Responsable (PRI)
    </li>
    <li>
        Norma ISO 26000
    </li>
    <li>
        Norma SA8000 
    </li>
    <li>
        Plataforma SEDEX
    </li>
</ul>
<p class="titulo">3. Políticas Empresariales de Derechos Humanos</p>
<p class="textogeneral">(Se pondrá información respecto a las empresas mineras que han adoptado políticas de respeto a DDHH, y los enlaces a dichas políticas)</p>

<p class="titulo">4. Iniciativas Nacionales y/o Globales</p>
<p class="textogeneral">Se pondrá información actualizada respecto a las iniciativas gremiales, civiles o gubernamentales para la promoción y adopción de DDHH, como:</p>
<ul>
    <li>Principios de Inversión Responsable (PRI)</li>
</ul>
<p class="titulo">5. Indicadores de seguimiento y monitoreo</p>
<p class="textogeneral">Se pondrá información de iniciativas internacionales y nacionales que existen para la medición y seguimiento de respecto a DDHH en el sector minero.</p>

    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->