<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Oportunidades de Empleo, Proveedores Locales y Clusters Mineros</p>
        <p class="tituloeditorial">
            Este espacio informará sobre las oportunidades de empleo, compra de bienes y servicios y avance de las iniciativas de cadenas productivas que se vienen impulsando, como es el caso de la que impulsa la CAF en el Sur del país. 
<br><br>
A su vez se compartirá los procesos de capacitación que se inicien para tener la oportunidad de ingresar a algún puesto de trabajo en el sector, así como los programas y cursos que se dicten en general.  
<br><br>
            <u> Importancia</u> el conocer las oportunidades de empleo en general permite que las personas tengan acceso a éste, además de conocer el avance del empleo local. 

        </p>
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">
                        <div class="chiquitinh"><a  routerLink="/app-competitvidad/app-iniciocompetitividad"><img src="../../../assets/img/competitividad/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/competitividad/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>

