.partes{
    color: white;
    background-color: rgb(114, 114, 114);
    padding: 1em;
}

.subtitulos{
    font-weight: bolder;
    text-decoration: underline;
}

.listado{
    margin-left: 5%;
}

.enlacesdetalle{
    display: inline-block;
    width: 100%;
    }
    
    .cajitas{
        background-color: rgb(136, 135, 135);
        color: white;
        padding: 1em;
        display: inline-block;
        margin-left: 5%;
    }
    
    
    .piepagina{
        font-size: 0.7em;
    }