<h2>6. Minería Informal y Minería Ilegal</h2>

<p class="partes">6.1. Minería Informal</p>

<p class="subtitulos">Información Nivel Nacional</p>

<p>
    <u>Definición:</u> Aquella que no ha iniciado proceso de formalización y que se desarrolla en áreas donde no está prohibido desarrollar actividad minera. 
</p>

<p>

    o	# Mineros informales. <br>
    o	# Áreas con minería informal. <br>
    o	Monto de Inversion. <br>
    o	Valor de producción por tipo de mineral. <br>
    o	Valor potencial de producción por tipo de mineral (en caso de minería formal y tecnificada). <br>
    o	Valor de ventas no declarado. <br>
    o	Valor de impuestos no pagados. <br>
    o	# Venden producción a plantas formales. <br>
    o	Valor de producción vendido a plantas formales. <br>
    o	# Venden producción a plantas informales. <br>
    o	Valor de producción vendido a plantas informales. <br>
    o	# Invierten en remediación ambiental. <br>
    o	Monto de inversión en remediación ambiental. <br>
    o	Valor aproximado de brecha de inversión en remediación de pasivos. <br>
    o	# Intervenciones Policiales. <br>
    o	# Áreas recuperadas de la minería informal. <br>
    o	# Producción confiscada . <br>
    o	Plantas ilegales cerradas. <br>
    o	# Principales responsables detenidos. <br>
    o	# Procesados. <br>
    o	# Sentenciados. <br>


</p>


<p class="subtitulos">Información Nivel Regional y Local</p>

<div class="enlacesdetalle">
    
    <p class="cajitas">Regional</p>
    <p class="cajitas">Local</p>
 
</div>


<!--MINERÍA ILEGAL-->



<p class="partes">6.2. Minería Ilegal</p>

<p><u> Definición:</u> Aquella que se desarrolla en áreas donde está prohibido desarrollar actividad minera.</p>

<p class="subtitulos">Información Nivel Nacional</p>

<p class="listado">
    o	# Mineros ilegales. <br>
    o	# Áreas con minería ilegal. <br>
    o	Monto de inversión. <br>
    o	Valor de producción por tipo de mineral. <br>
    o	Valor potencial de producción por tipo de mineral (en caso de minería formal y tecnificada). <br>
    o	Valor de ventas no declarado. <br>
    o	Valor de impuestos no pagados. <br>
    o	# Venden producción a plantas formales. <br>
    o	Valor de producción vendido a plantas formales. <br>
    o	# Venden producción a plantas informales. <br>
    o	Valor de producción vendido a plantas informales. <br>
    o	# Invierten en remediación ambiental. <br>
    o	Monto de inversión en remediación ambiental. <br>
    o	Valor aproximado de brecha de inversión en remediación de pasivos. <br>
    o	# personas afectadas por la actividad. <br>
    o	# Intervenciones Policiales. <br>
    o	# Áreas recuperadas de la minería ilegal. <br>
    o	# Producción confiscada . <br>
    o	# Plantas ilegales cerradas . <br>
    o	# Principales responsables detenidos. <br>
    o	# Procesados. <br>
    o	# Sentenciados……... <br>
    
</p>


<p class="subtitulos">Información por Región o Localidad</p>

<div class="enlacesdetalle">
    
    <p class="cajitas">Regional</p>
    <p class="cajitas">Localidad</p>
 
</div>
