
<p class="titulito">COMPOSICIÓN DE ESTE ESPACIO</p>

<div class="cuadrogeneral">
    <div class="cuadrito">
        <p><br> Índice avance de la minería</p>
    </div>

        <div class="cuadrito">
        <p>Reservas y Producción Minera</p>
    </div>

    <div class="cuadrito">
        <p>Estado de Petitorios Mineros</p>
    </div>

    <div class="cuadrito">
        <p>Inversiones Mineras Totales</p>
    </div>

    <div class="cuadrito">
        <p>Inversiones Mineras Individuales</p>
    </div>

    <div class="cuadrito">
        <p>Minería en Proceso de Formalización</p>
    </div>

    <div class="cuadrito">
        <p>Minería Informal</p>
    </div>

    <div class="cuadrito">
        <p>Proyección de reservas y producción minera</p>
    </div>
</div>

<p><strong>INDICE</strong> (Cada materia que se comprenda en FOROMIN+D, contará con un Indice para ubicar con rapidez el tema de interés. A su vez, mediante buscador se podrá encontrar la información).</p>


<p class="titulo">1. ESTADO DE PETITORIOS MINEROS</p>
<p class="subtitulo">Número de Petitorios</p>

<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>Nacional</p>
    </div>
    <div class="cuadrito1">
        <p>Regional</p>
    </div>
    <div class="cuadrito1">
        <p>Local</p>
    </div>
</div>


<p class="titulo">2. RESERVAS Y PRODUCCIÓN MINERA</p>

<p class="subtitulo">2.1. Evolución de Reservas y Producción Minera por mineral últimos 20 años 2000 – 2020, <u>Nivel Nacional</u>.</p>
    
<p class="subtitulo">2.2. Evolución de Reservas y Producción Minera por mineral últimos 20 años 2000 – 2020, Nivel Regional y Local.</p>

<p class="titulo">3. ACTIVIDAD MINERA A NIVEL NACIONAL</p>

<p class="subtitulo">3.1. Exploración</p>

<ul>
    <li>
        Proyectos según su situación Nivel Nacional.
    </li>
</ul>

<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>En tiempo</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Demorado</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizado</p>
    </div>
    <div class="cuadrito1">
        <p>Cancelado</p>
    </div>
</div>


<p class="subtitulo">3.2. En cartera pendientes de evaluación, negociación con comunidades, de estudios a ser concluidos, de logro de financiamiento, etc.</p>

<ul>
    <li>
        Proyectos según su situación.
    </li>
</ul>


<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>En tiempo</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Demorado</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizado</p>
    </div>
    <div class="cuadrito1">
        <p>Cancelado</p>
    </div>
</div>


<p class="subtitulo">3.3. Construcción</p>

<ul>
    <li>
        Proyectos según su situación.
    </li>
</ul>


<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>En tiempo</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Demorado</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizado</p>
    </div>
</div>


<p class="subtitulo">3.4. Operación</p>

<ul>
    <li>
        Operaciones según su situación. 
    </li>
</ul>


<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>En tiempo</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Demorado</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizado</p>
    </div>
</div>

<p class="titulo">4. INVERSIÓN MINERA NIVEL REGIONAL, LOCAL E INDIVIDUAL</p>

<p class="subtitulo">4.1. Exploración</p>

<p class="titulito">Proyecto XXX</p>

<ul>
    <li>
        Proyecto según su situación por Región o Localidad.
    </li>
</ul>


<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>En tiempo</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Demorado</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizado</p>
    </div>
    <div class="cuadrito1">
        <p>Cancelado</p>
    </div>
</div>

<p class="textogeneral">Motivo (si está en riesgo, demorado, paralizado o cancelado)</p>

<div class="cuadrogeneral">
    <div class="cuadrito1 yapa">
        <p>Permisos</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Social</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Minería Informal o Ilegal</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Político</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Tecnológico</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Falta de Recursos Minerales</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Pendiente Financiamiento</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>En Evaluación</p>
    </div>
</div>


<p class="subtitulo">4.2. En cartera pendiente de evaluación, de negociación con comunidades, de estudios a ser concluidos, de obtención de financiamiento, etc.</p>

<ul>
    <li>
        Proyecto según su situación.
    </li>
</ul>


<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>En tiempo</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Demorado</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizado</p>
    </div>
    <div class="cuadrito1">
        <p>Cancelado</p>
    </div>
</div>


<p class="textogeneral">Motivo (si está en riesgo, demorado, paralizado o cancelado).</p>

<div class="cuadrogeneral">
    <div class="cuadrito1 yapa">
        <p>Permisos</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Social</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Minería Informal o Ilegal</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Político</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Tecnológico</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Falta de Recursos Minerales</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Pendiente Financiamiento</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>En Evaluación</p>
    </div>
</div>

<p class="subtitulo">4.3. En Construcción</p>

<p class="textogeneral">Proyecto XXX</p>

<ul>
    <li>
        Proyectos según su situación.
    </li>
</ul>


<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>En tiempo</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Demorado</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizado</p>
    </div>
</div>


<p class="textogeneral">Motivo (si está en riesgo, demorado o paralizado).</p>

<div class="cuadrogeneral">
    <div class="cuadrito1 yapa">
        <p>Permisos</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Social</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Minería Informal o Ilegal</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Político</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Tecnológico</p>
    </div>
</div>


<p class="subtitulo">4.4. Operación</p>

<p class="textogeneral">Proyecto XXX</p>

<ul>
    <li>
        Estado de operación.
    </li>
</ul>


<div class="cuadrogeneral">
    <div class="cuadrito1">
        <p>Normal</p>
    </div>
    <div class="cuadrito1">
        <p>En riesgo</p>
    </div>
    <div class="cuadrito1">
        <p>Paralizada</p>
    </div>
</div>


<p class="textogeneral">Motivo (si está en riesgo o paralizada).</p>

<div class="cuadrogeneral">
    <div class="cuadrito1 yapa">
        <p>Permisos</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Social</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Minería Informal o Ilegal</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Político</p>
    </div>
    <div class="cuadrito1 yapa">
        <p>Tecnológico</p>
    </div>
</div>


<p class="titulo">5. MINERÍA EN PROCESO DE FORMALIZACIÓN.</p>

<p class="textogeneral"><u>Definición:</u>  Aquella que ha iniciado proceso de formalización y aún no concluye, o le faltan requisitos que debe cumplir.</p>

<p class="subtitulo">5.1. Información Nivel Nacional.</p>

<p class="subtitulo">5.2. Información Nivel Regional y Local</p>


<p class="titulo">6. MINERÍA INFORMAL</p>

<p class="textogeneral"><u>Definición:</u>  Aquella que no ha iniciado proceso de formalización y que se desarrolla en áreas donde no está prohibido desarrollar actividad minera.</p>

<p class="subtitulo">6.1. Información Nivel Nacional</p>
<p class="subtitulo">6.2. Información Nivel Regional y Local.</p>



<p class="titulo">7. PROYECCIÓN DE RESERVAS Y PRODUCCIÓN MINERA CONSIDERANDO EL DESARROLLO DE LA ACTIVIDAD.</p>


<p class="textogeneral">
    Considerando lo evaluado en los títulos precedentes, a continuación proyectamos las reservas y producción minera de acuerdo a los proyectos y operaciones que se vienen desarrollando.
    <br><br>
    Considerar los proyectos de exploraciones, en construcción y los que vienen avanzando, así como los que están demorados o paralizados y los que están en cartera, comparándonos con otros países con actividad minera. 
    <br><br>
    Según el ICM del IIMP y Macroconsult, las reservas de oro en el Perú se agotarían en apenas 18 años y en el caso del cobre, en 35 años. Del mismo modo, las reservas de plata y zinc se acabarían en 26 y 13 años, respectivamente.
    </p>


<!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral"> d</p>
-->