
.cajadeiconos{
    width: 25%;
}

.iconos {
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
    
  }
  
  .chiquitin {
    color: white;
    flex: none;
    width: calc((100% - 40px) / 3);
    overflow: hidden;
  
    margin-bottom: 10px;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .imgchiquitin {
    width: 100%;
    display: block;
    transition: all .2s;
  }
  
  .imgchiquitin:hover {
    transform: scale(1.2);
  }
  
/*logos de las empresas*/

.iconosa {    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    margin-top: 30%;
    margin-right: 5%;
    background-color: white;
}

  .chiquitina {
    color: white;
    flex: none;
    width: calc((100% - 40px) / 3);
    overflow: hidden;
  
    margin-bottom: 10px;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

