<div class="cajadeiconos">
    <div class="iconos">
        <div class="chiquitin"><a href="historiayactualidad/historia.html"><img src="img/o/1.png" alt="enlace de interés" class="imgchiquitin"></a></div>
        <div class="chiquitin"><a href="cienciaytecnologia/ciencia.html"><img src="img/o/2.png" alt="enlace de interés" class="imgchiquitin"></a></div>  
        <div class="chiquitin"><a href="buenaspracticas/buenaspracticas.html"><img src="img/o/3.png" alt="enlace de interés" class="imgchiquitin"></a></div>
        <div class="chiquitin"><a href="avancedeproyectos/avancedeproyectos.html"><img src="img/o/4.png" alt="enlace de interés" class="imgchiquitin"></a></div>
        <div class="chiquitin"><a href="desarrollonacional/desarrollonacional.html"><img src="img/o/5.png" alt="enlace de interés" class="imgchiquitin"></a></div>
        <div class="chiquitin"><a href="desarrolloregional/desarrolloregional.html"><img src="img/o/6.png" alt="enlace de interés" class="imgchiquitin"></a></div>
        <div class="chiquitin"><a href="competitividad/competitividad.html"><img src="img/o/7.png" alt="enlace de interés" class="imgchiquitin"></a></div>
        <div class="chiquitin"><img src="img/o/8.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitin"><img src="img/o/9.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitin"><img src="img/o/10.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitin"><a href="indice/indice.html"><img src="img/o/11.png" alt="enlace de interés" class="imgchiquitin"></a></div>
        <div class="chiquitin"><a href="teescuchamos/teescuchamos.html"><img src="img/o/12.png" alt="enlace de interés" class="imgchiquitin"></a></div>

    </div>
    <div class="iconosa">
        <div class="chiquitina"><img src="img/perucanada.jpg" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/energiminas.jpg" alt="enlace de interés" class="imgchiquitin"></div>  
        <div class="chiquitina"><img src="img/icmm.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/snpe.jpg" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/IIMP.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/colegiodeingenieros.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/ingemmet.jpg" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/rumbominero.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/amautasmineros.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/minam.jpg" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/senace.jpg" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/minem.png" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/mineriayenergia.jpg" alt="enlace de interés" class="imgchiquitin"></div>
        <div class="chiquitina"><img src="img/horizonteminero.jpg" alt="enlace de interés" class="imgchiquitin"></div>
        
    
    </div>
</div>
