<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Derechos Humanos y el Sector Minero</p>
        <p class="tituloeditorial">
            Los Derechos Humanos han sido institucionalizados desde 1948 por la Declaración Universal de los Derechos Humanos de las Naciones Unidas, firmada por los diversos países pertenecientes a dicha organización (entre ellos, el Perú), y que los situó en el terreno del derecho internacional.
<br><br>
            Dicha Declaración indica que “tanto los individuos como las instituciones” deben promover y respetar el conjunto de derechos humanos declarados como inherentes al ser humano. En este sentido, aunque la obligación principal es de los gobiernos nacionales, las empresas, como “agentes de desarrollo” (que generan ingresos y fuentes de trabajo, proveen servicios y productos a la sociedad) son considerados también agentes promotores de derechos y que, por tanto, deben velar por evitar los riesgos de impacto negativo que pueda haber hacia estos, en sus operaciones. Al respecto, en el 2011, los países pertenecientes a las Naciones Unidas (entre ellos, el Perú) aprobaron por consenso los “Principios Rectores sobre las empresas y los Derechos Humanos”. 
        <br><br>    
            El sector empresarial, conscientes de esta responsabilidad ha ido adoptando de manera voluntaria políticas de respeto y protección, así como impulsado diversas iniciativas de mejora. FOROMIN en esta sección, pone a disposición la información existente al respecto.
                       

        </p>
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    