<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Formalización Minera</p>
        <p class="tituloeditorial">
            Este espacio busca promover e impulsar la formalización de la minería, con la finalidad que contribuya con el país y que se haga cargo de la mitigación y remediación ambiental en relación con sus actividades.   
            <br><br> 
            <u> Importancia</u>: Evidenciar e impulsar el avance de la formalización minera, con la finalidad de contar con más mineros formales que contribuyan con el país, sus regiones y localidades.
        </p>

        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">
                        <div class="chiquitinh"><a  routerLink="/app-sostenibilidadambiental/app-iniciosostenibilidadambiental"><img src="../../../assets/img/sostenibilidadambiental/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/sostenibilidadambiental/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>

