.cajaeditorial{
    width: 100%;
}
.editorial{
  background-color: white;

  border: 1px solid rgb(199, 199, 199);
  margin-left: 3%;
  margin-right: 3%;
  padding: 15px 3% 3% 3%;
  color: rgb(41, 41, 41);
  font-family: Arial, Helvetica, sans-serif;
}

.editorialetiqueta{
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 3%;
  color: white;
  background-color: #CB6D51;
}

.tituloeditorial{
  margin-bottom: 3%;
  margin-top: 2%;
  color: rgb(49, 49, 49);
  text-align: justify;
}

.composicion{
  border: 1px solid rgb(110, 110, 110);
  margin: 5px;
  width: 120px;
  height: 67px;
  display: inline-flex;
}


.composicion p{
  padding: 0px 8px;
  margin: 5px 0px;
  text-align: center;
  font-size: 0.8em;
}

.composicion1{
  border: 1px solid rgb(110, 110, 110);
  margin: 5px;
  width: 50%;
}

.composicion1 p{
  text-align: center;
  font-weight: bolder;
  margin: 5px;
}

.contenidos{
  overflow: scroll;
  overflow-x: hidden;
  border: rgb(155, 152, 152) 1px solid;
  padding: 3%;
  height: 600px;
}



/*Foro*/

.ocultar{
  display: none;
}

.titulomashistorias{
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}


.comentariosforo{
  height: auto;
  overflow: scroll;
}


.iconosh {
  padding: 3%;
  display: flex;
  width: max-content;
}

.chiquitinh {
  color: white;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  
}



.imgchiquitin {
    
  width: 150px;
  display: block;
  transition: all .2s;
}

.imgchiquitin:hover {
  transform: scale(1.2);
}


  /*sección celulares*/

  @media (max-width:420px){
    .editorialetiqueta{
      font-size: 2em;
      margin-top: 2%;
  }
  
    .ocultar{
      display: none;
    }
    
    
      }