<p><strong>ÍNDICE</strong></p>


<p class="titulo">REGIONES Y LOCALIDADES CON ACTIVIDAD MINERA</p>

<div class="cuadrogeneral">

    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Ancash</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>

    
    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Apurímac</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Arequipa</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>

    
    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Cajamarca</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Cusco</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Ica</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>



    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">La Libertad</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>

    
    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Lima</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>



    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Madre de Dios</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>

    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Moquegua</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>


    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Puno</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>



    <div class="cuadrito">
        <div class="contenidocuadradito">
            <p class="region">Tacna</p>
            <p class="titulolocalidades">Localidades</p>
            <div class="localidades"></div>
            <div class="localidades"></div>
            <div class="localidades"></div>
        </div>
    </div>




</div>
                    
<p class="titulo">1. CONTRIBUCIÓN DE LA MINERÍA A NIVEL REGIONAL Y POR LOCALIDADES</p>
<ul>
    <li>
        Tributos.
    </li>
    <li>
        Remuneraciones y pago de bienes y servicios.
    </li>
    <li>
        Empleos generados.
    </li>
    <li>
        Contribución según su objeto.
    </li>
    <li>
        Relevancia de su contribución a la economia nacional y desarrollo.
    </li>
</ul>


<p class="titulo">2. POTENCIAL CONTRIBUCIÓN DE LA ACTIVIDAD MINERA DEMORADA, PARALIZADA O EN RIESGO, A NIVEL REGIONAL Y POR LOCALIDADES.</p>

<p class="textogeneral">
    El presente espacio considera la que sería la contribución de proyectos y operaciones mineras, demorados o paralizados, si lograsen desarrollarse, por Región o Localidad.    
</p>

<p class="titulo">3. POTENCIAL CONTRIBUCIÓN DE LA MINERÍA INFORMAL SI SE FORMALIZA, A LA REGIÓN Y LOCALIDAD.</p>

<p class="textogeneral">
    La minería que está en proceso de formalización y la que se desarrolla de manera informal, debería contribuir con el país.   
</p>

<p class="titulo">4. PROYECCIÓN DE LA CONTRIBUCIÓN DEL TOTAL DE LA CARTERA DE PROYECTOS MINEROS, A NIVEL REGIONAL Y POR LOCALIDADES.</p>

<p class="textogeneral">
    Esta información proyecta el crecimiento de la Contribución de la Minería en caso que el total de los proyectos mineros en cartera se construyan y se conviertan en nuevas Operaciones Mineras.  
<br><br>
Qué significaría para la economía nacional que los más de USD 58,000 MM de inversión minera que tenemos en cartera, se llegasen a desarrollar.  
</p>

<p class="titulo">5. CONSOLIDADO DE LA CONTRIBUCIÓN DE LA MINERÍA EXPUESTA EN LOS PUNTOS 1, 2, 3, y 4 PRECEDENTES.</p>


<p class="titulo">6. EFECTOS POR DEMORAS O REDUCCIÓN DE INVERSIONES EN EXPLORACIÓN MINERA A NIVEL REGIONAL Y LOCAL.</p>
<p class="textogeneral">
    No obstante la cartera de proyectos mineros con la que contamos, el desarrollo de la Región y sus futuros requerimientos, nos obligan a seguir avanzando en descubrir nuestro potencial minero.  
<br><br>
Ante ello nos debemos preguntar cómo va la inversión en exploraciones en la Región, y su correlación con el hallazgo de nuevos yacimientos, nuevas tecnologías y los requerimientos económicos futuros de la Región para su desarrollo.
</p>

<!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral"> d</p>
-->