<div class="cabecera">
    <div class="cabeceraderecha"> 
        <div>
            <img src="../../../assets/img/foromind.svg" alt="FOROMIN+D" class="logoforomin">
 
        </div>
          <div>
            <div class="mision">
                <p class="visionmision">Visión</p>
                <p title="Chiqaq Yachayninchik, mineríamanta, chaymantañataq allin kausaycunamanta, yanapanqa lliu runakunata allinta ricunancupaq imatataq minería ruhuan, chaymantapas imaynatataq  llaqtanta qanaynam apanqaku.">
                    El conocimiento objetivo y veraz sobre Minería y Desarrollo, permite que los ciudadanos estén informados en relación con la actividad minera y el desarrollo local, regional y nacional.
                </p>
                <p class="visionmision">Misión</p>
                <p>
                    Con la participación de una pluralidad de actores colectivos e individuales de la esfera pública, privada y de la sociedad civil, FOROMIN+D cumplirá un rol articulador y referente, mostrando el conocimiento sobre la Minería y Desarrollo de manera descentralizada, promoviendo con ello el buen desempeño del sector y aprovechamiento de los recursos que genera.
                </p>
            </div>
        </div>   
    </div>

</div>

