/*Cabecera*/


.cabeceraderecha{
  width: 100%;
  text-align: center;
}

.logoforomin{
  width: 200px;
  padding-top: 2%;
  border-radius: 20px;
}

.visionmision{
  font-weight: bolder;
  margin-bottom: 0px;
  color: #CB6D51;
}

.mision{
font-family: Arial, Helvetica, sans-serif;
width: 80%;
margin-bottom: 0px;
display: inline-block;
text-align: center;
color: rgb(61, 61, 61);
}

.mision p{
  text-align: justify;
}

.cabeceraizquierda{
    width: 25%;
    text-align: center;
}
.enlaceregionales{
  display: none;
    padding: 10px 20px;
    font-size: 20px;
    background: white;
    border-style: none;
    border: 1px solid #A75F0A;
    border-radius: 20px;
    color: rgb(61, 61, 61);
    margin-top: 30%;
    transition: background 300ms;
    cursor: pointer;
}
.enlaceregionales:hover{
    background: #CB6D51;
    color: white;
  }

.divlineamientos{
  height: max-content;
}  

.lineamientos{
  width: 80%;
  margin-top: 20%;
}  

/*Sección tablets*/

@media (min-width:421px) and (max-width:1000px){



  
}


  /*sección celulares*/

  @media (max-width:420px){

    .cabecera{
      display: table-row;
    }

    .logoforomin{
      width: 50%;
    }

    .mision{
      width: 90%;
    }

    .cabeceraderecha{
      width: 100%;
    }
    
    .cabeceraizquierda{
      width: 100%;
    }

    .lineamientos{
      margin-top: 5%;
    }

    .enlaceregionales{
      margin-top: 0px;
    }

    .lineamientos{
      margin-bottom: 5%;
    }

      }