<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Ambiente</p>
        <p class="tituloeditorial">
            Se informará sobre temas ambientales de la mayor relevancia en el sector minero.
 <br><br>
        <u> Importancia:</u> Es uno de los puntos de partida para fortalecer la iniciativa Minería y Desarrollo. 
        </p>


        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Lee más historias</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">
                        <div class="chiquitinh"><a  routerLink="/app-desarrollonacional/app-iniciodesarrollonacional"><img src="../../../assets/img/desarrollonacional/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/desarrollonacional/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                     
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>

