/* Area de Login*/

.plogin{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bolder;
  color: rgb(61, 61, 61);
}

.mensaje{
  margin-top: 2em;
}

.ingresar{
  text-align: center;
  margin-top: 70px;
}

.email{
  width: 300px;
  height: 40px;
  border: 2px solid rgb(233, 233, 233);
  display: block;
  margin-bottom: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.password {
  width: 300px;
  height: 40px;
  border: 2px solid rgb(233, 233, 233);
  display: block;
  margin-bottom: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;

}

.enviar{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 40px;
  background: rgb(0, 123, 255);
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*Fin de Login*/

.divisionprincipal{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  
}

.ladoizquierdo{
  width: 83%;
}

.ladoderecho{
  width: 17%;
}

.cajaboton{
  text-align: center;
}

.botoncerrar{
  margin-top: 30px;
  padding: 8px;
  background-color: #CB6D51;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.routerclass{
  margin-top: 180px;

}

.iconoforo{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.imgvolveralforo{
  width: 100%;
  display: block;
  transition: all .2s;
}

.imgvolveralforo:hover {
  transform: scale(1.2);
}


.imgindice{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.lineamientos{
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.cajadeiconos{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.iconos {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
    
  }
  
  .chiquitin {
    color: white;
    flex: none;
    width: calc((100% - 15px) / 2);
    overflow: hidden;
  
    margin-bottom: 10px;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .imgchiquitin {
    width: 100%;
    display: block;
    transition: all .2s;
  }
  
  .imgchiquitin:hover {
    transform: scale(1.2);
  }
  
        /*logos de las empresas*/

.titulosiconosa{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 9em;
  text-align: center;
  font-weight: bolder;
}
      
.iconosa {    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    margin-top: 10px;
    margin-right: 5%;
    background-color: white;
}

  .chiquitina {
    color: white;
    flex: none;
    width: calc((100% - 20px) / 2);
    overflow: hidden;
  
    margin-bottom: 10px;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
/*Sección tablets grandes*/

@media (min-width:721px) and (max-width:1000px){

  .ladoizquierdo{
    width: 78%;
  }
  
  .ladoderecho{
    width: 22%;
  }
  
  .routerclass{
    margin-top: 180px;
  
  }
  

  
}


/*Sección tablets pequeñas*/

@media (min-width:421px) and (max-width:720px){


  .ladoizquierdo{
    width: 68%;
  }
  
  .ladoderecho{
    width: 32%;
  }
  
  .routerclass{
    margin-top: 180px;
  
  }
  


}




  /*sección celulares*/

  @media (max-width:420px){

    /*
.seccioncontenidosyrouter{
  display: table-row;
}
*/

.divisionprincipal{
  display: block;
  width: 100%;
}

.ladoizquierdo{
  width: 100%;
}

.ladoderecho{
  width: 100%;
}
.encabezadogeneral{
  width: 100%;
}

.seccioncontenidos{
  width: 100%;
}

.routerclass{
  width: 100%;
  margin-top: 50px;
}

.cajadeiconos{
  width: 70%;  
}


.iconosa{
  margin-right: 0px;
}


.imgindice{
  width: 66%;
}


.lineamientos{
  width: 66%;
}


}