
<div  *ngIf="ocultar" class="areadelogin">

    <p class="plogin mensaje">Bienvenidos a FOROMIN+D</p>
    <p class="plogin">Iniciar Sesión</p>

  <div class="ingresar">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <input type="email" placeholder="Coloca aquí tu usuario" class="email" formControlName="email"/>

        <input type="password" placeholder="Ingresa tu password" class="password" formControlName="password"/>

        <button type="submit" class="enviar">Ingresar</button>
    </form>
  </div>

</div>


<div *ngIf="mostrar" class="divisionprincipal">

<div class="ladoizquierdo">
    <div class="encabezadogeneral">
        <app-encabezado></app-encabezado>
    </div>

    <div class="seccioncontenidos">
        <router-outlet></router-outlet>
    </div>


</div>

<div class="ladoderecho">
    <div class="cajaboton">
       <button (click)="showlogin()" class="botoncerrar">Cerrar Sesión</button>
    </div>

                        <div class="routerclass">
                            <div  class="iconoforo">
                                <a routerLink="/app-indicecontenidos"><img src="../assets/img/o/indice.svg" alt="Indice de contenidos" class="imgvolveralforo imgindice"></a>
                            </div>

                            <div class="divlineamientos">
                                <a routerLink="/app-lineamientos"><img src="../../../assets/img/o/lineamientosforomind.svg" alt="Lineamientos de FOROMIN" class="imgvolveralforo lineamientos"></a>
                            </div>


                            <div class="cajadeiconos">
                                <div class="iconos">
                                    <div class="chiquitin"><a routerLink="/app-historiayactualidad"><img src="../assets/img/o/1.svg" alt="Historia y Actualidad" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-cienciaytecnologia"><img src="../assets/img/o/2.svg" alt="Ciencia y Tecnología" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-buenaspracticas"><img src="../assets/img/o/3.svg" alt="Buenas Prácticas" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-avancedeproyectos"><img src="../assets/img/o/4.svg" alt="Avance de Proyectos" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-desarrollonacional"><img src="../assets/img/o/5.svg" alt="Desarrollo Nacional" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-desarrolloregional"><img src="../assets/img/o/6.svg" alt="Desarrollo Regional" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-competitividad"><img src="../assets/img/o/7.svg" alt="Competitividad" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-clusterminero"><img src="../assets/img/o/8.svg" alt="Cluster Minero" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-formalizacionminera"><img src="../assets/img/o/9.svg" alt="Formalización Minera" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-sostenibilidadambiental"><img src="../assets/img/o/10.svg" alt="Desempeño de la Sostenibilidad Ambiental" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-indice"><img src="../assets/img/o/11.svg" alt="Indice del Conocimiento" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-teescuchamos"><img src="../assets/img/o/12.svg" alt="Te Escuchamos" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-ddhh"><img src="../assets/img/o/13.svg" alt="DDHH y Minería" class="imgchiquitin"></a></div>
                                    <div class="chiquitin"><a routerLink="/app-forosanteriores"><img src="../assets/img/o/14.svg" alt="Foros Anteriores" class="imgchiquitin"></a></div>

                                </div>

                                <div  class="iconoforo">
                                    <a routerLink="/app-foro"><img src="../assets/img/o/volveralforo.svg" alt="Volver al Foro" class="imgvolveralforo"></a>
                                </div>


                                <div>
                                    <p class="titulosiconosa">Puedes encontrar más información en los siguientes Links:</p>
                                </div>
                                <div class="iconosa">
                                    <div class="chiquitina"><a href="http://eitiperu.minem.gob.pe/" target="_blank"><img src="../assets/img/logos/eitiperu.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="http://www.minem.gob.pe/_detallenoticia.php?idSector=1&idTitular=8866" target="_blank"><img src="../assets/img/logos/rimay.svg" alt="enlace de interés" class="imgchiquitin"></a></div>

                                    <div class="chiquitina"><a href="https://www.canadaperu.org/" target="_blank"><img src="../assets/img/logos/perucanada.jpg" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://energiminas.com/" target="_blank"><img src="../assets/img/logos/energiminas.jpg" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://www.icmm.com/" target="_blank"><img src="../assets/img/logos/icmm.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                                    <div class="chiquitina"><a href="http://www.iimp.org.pe/" target="_blank"><img src="../assets/img/logos/IIMP.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="http://www.cip.org.pe/" target="_blank"><img src="../assets/img/logos/colegiodeingenieros.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://www.ingemmet.gob.pe/" target="_blank"><img src="../assets/img/logos/ingemmet.jpg" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="http://www.rumbominero.com/" target="_blank"><img src="../assets/img/logos/rumbominero.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://www.facebook.com/AmautasMinerosPeru/" target="_blank"><img src="../assets/img/logos/amautasmineros.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://www.gob.pe/minam" target="_blank"><img src="../assets/img/logos/minam.jpg" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://www.senace.gob.pe/" target="_blank"><img src="../assets/img/logos/senace.jpg" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://www.gob.pe/minem" target="_blank"><img src="../assets/img/logos/minem.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="http://mineriaenergia.com/" target="_blank"><img src="../assets/img/logos/mineriayenergia.jpg" alt="enlace de interés" class="imgchiquitin"></a></div>
                                    <div class="chiquitina"><a href="https://www.horizonteminero.com/" target="_blank"><img src="../assets/img/logos/horizonteminero.jpg" alt="enlace de interés" class="imgchiquitin"></a></div>


                                </div>
                            </div>



                        </div>

</div>

</div>
