<p class="titulo">1. QUÉ ES UNA EMPRESA</p>
<p class="titulo">2. TIPOS DE EMPRESA </p>
<p class="titulo">3. OBJETIVO DE UNA EMPRESA Y SU CONTRIBUCIÓN CON LA SOCIEDAD </p>
<p class="titulo">4. ÉTICA Y EMPRESA </p>
<p class="titulo">5. FORMALIZACIÓN DE UNA EMPRESA </p>
<p class="titulo">6. QUÉ SE NECESITA PARA QUE UNA EMPRESA SEA EXITOSA </p>
<p class="titulo">7. PROGRAMAS Y CURSOS EN LA CONFORMACIÓN Y DESARROLLO DE UNA EMPRESA </p>
<p class="titulo">8. PREGUNTAS Y RESPUESTAS</p>
    


 


    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->