.titulo{
  font-weight: bolder;
  padding: 10px 0px 10px 10px;
  background-color: rgb(245, 240, 233);
  margin-top: 40px;
}

.subtitulo{
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 30px;
}

.titulito{
  font-weight: bolder;
  margin-left: 20px;
}

.textogeneral{
  text-align: justify;
}

/*cuadritos*/

.cuadrogeneral{

  align-items: stretch;
}

.cuadrito{
  border: 1px solid rgb(109, 108, 108);
  width: 100px;
  height: 100px;
  padding: 3px;
  margin: 5px;
  display: inline-flex;
}

.contenidocuadradito{
  display: inline;
  margin: 0 auto;
}

.cuadrito p{
  text-align: center;
  margin: 0px;
 
}
.region{
  font-weight: bolder;
}

.titulolocalidades{
  font-size: 0.7em;
}
.localidades{
  border: 1px solid black;
  height: 1em;
  width: 80px;
  margin-top: 3px;
}

.cuadrito1{
  border: 1px solid rgb(109, 108, 108);
  width: 120px;
  margin: 5px;
  display: inline-flex;
}

.cuadrito1 p{
  padding: 5px;
  margin: 0 auto;
}

.yapa{
  height: 65px;
  text-align: center;
}

li{
  text-align: justify;
  padding-bottom: 1em;
}

/*referencias*/

.cajareferencias{
  padding-top: 3em;
}

.referencias{
  font-size: 0.7em;
  padding-left: 20px;
}

.tituloreferencias{
  font-size: 0.8em;
  font-weight: bolder;
  text-decoration: underline;
}