<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Empresa</p>
        <p class="tituloeditorial">
            En este espacio se busca informar sobre el desarrollo, importancia, carácterísticas, entre otros aspectos relevantes, de las empresas.
            <br><br>
            Además se dará orientación y capacitación en distintos aspectos relacionados con ella, desde su inicio y desarrollo.
            <br><br>    
           <u> Importancia</u>, informar sobre la empresa permite que las personas tengan mayor conocimiento sobre sus alcances y además puedan desarrollarla, lo que fortalece la economía y formalidad.
            <br><br>
        </p>
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más</p>
            </div>
            <div class="comentariosforo">
                    <div class="iconosh">
                        <div class="chiquitinh"><a  routerLink="/app-indice/app-inicioindice"><img src="../../../assets/img/indice/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/indice/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                    </div>
            

            
            </div>
        </div>
    </div>
    <br>
</div>

