<h2>5. Minería en Proceso de Formalización</h2>

<p><u> Definición:</u> Aquella que ha iniciado proceso de formalización y aún no concluye, o le faltan requisitos que debe cumplir.</p>

<p class="subtitulos">5.1. Información Nivel Nacional</p>

<p class="listado">
o	# Mineros en proceso de Formalización. <br>
o	# Con Declaración Ambiental. <br>
o	# Titulados. <br>
o	# Cuentan con RUC.<br>
o	Monto de Inversión.<br>
o	# Declaran producción. <br>
o	Volumen de producción declarada por tipo de mineral. <br>
o	Valor de producción que no se declara por tipo de mineral. <br>
o	# Declaran ventas. <br>
o	Valor de ventas declarado. <br>
o	# Pagan Impuestos. <br>
o	Valor de impuestos pagados. <br>
o	# Venden producción a plantas formales. <br>
o	Valor de producción vendido a plantas formales. <br>
o	# Venden producción a plantas informales. <br>
o	Valor de producción vendido a plantas informales. <br>
o	# Invierten en remediación ambiental. <br>
o	Inversión en remediación ambiental. <br>
o	Valor aproximado de brecha de inversión en remediación de pasivos. <br>
o	# Participan en Programas del MINEM. <br>



</p>

<p class="subtitulos">Información Nivel Regional y Local</p>

<div class="enlacesdetalle">
    
    <p class="cajitas">Regional</p>
    <p class="cajitas">Local</p>
 
</div>


<div class="piepagina">
    <p>
        (1)  Para esta información se hace Link con Ventana de Eje 4 y 5.
    </p>
</div>