
.plogin{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: rgb(61, 61, 61);
}

.mensaje{
    margin-top: 2em;
}

.ingresar{
    text-align: center;
    margin-top: 70px;
}

.email{
    width: 300px;
    height: 40px;
    border: 2px solid rgb(233, 233, 233);
    display: block;
    margin-bottom: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.password {
    width: 300px;
    height: 40px;
    border: 2px solid rgb(233, 233, 233);
    display: block;
    margin-bottom: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;

}

.enviar{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 40px;
    background: rgb(0, 123, 255);
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}