<div >

    <p class="mensaje">Bienvenidos a FOROMIN+D</p>
<p>LoginComponent - Iniciar Sesión</p>

<div class="ingresar">
  <input name="email" type="email" placeholder="Coloca aquí tu usuario" class="email"/>

  <input name="password" type="password" placeholder="Ingresa tu password" class="password" />

  <button type="submit" class="enviar">Ingresar</button>
</div>

</div>
