<p><strong>ÍNDICE</strong></p>

<div class="cuadrogeneral">
    <div class="cuadrito">
        <p><br> Índice de Formalización Minera</p>
    </div>

        <div class="cuadrito">
        <p><br> Avances en Formalización Minera</p>
    </div>

    <div class="cuadrito">
        <p>Aspectos a Considerar en la Formalización Minera</p>
    </div>

    <div class="cuadrito">
        <p>Iniciativas Legislativas en Formalización Minera</p>
    </div>

</div>

<p class="titulo">1. AVANCES EN FORMALIZACIÓN MINERA.</p>
<p><strong> Mineria en Formalización a Nivel Regional y a Nivel Local</strong></p>

<p class="textogeneral">
   <u> Definición:</u> Aquella que ha iniciado proceso de formalización y aún no lo concluye, o le faltan requisitos que debe cumplir.
</p>

<p><strong> Mineria Informal a Nivel Regional y a Nivel Local</strong></p>
<p class="textogeneral">
   <u> Definición:</u> Aquella que no ha iniciado proceso de formalización y que no cumple con requisitos legales, desarrollándose en áreas donde la minería no está prohibida. Se diferencia de la minería ilegal, al desarrollarse esta última en zonas prohibidas para la actividad minera. 
</p>


<p class="titulo">2. ASPECTOS A CONSIDERAR EN LA FORMAILIZACIÓN MINERA</p>
<p><strong>Información a desarrollar</strong></p>


<ul>
    <li>Requisitos para Titulación
    </li>
    <li>Pequeña Minería o Minería artesanal vs Régimen General
    </li>
    <li>Áreas ocupadas
    </li>
    <li>Autoridad Minera competente 
    </li>
    <li>Aspectos Ambientales
    </li>
    <li>Aspectos de Seguridad de trabajadores
    </li>
    <li>Aspectos Logisticos
    </li>
    <li>
        Financiamiento
    </li>
    <li>
        Transporte de producción 
    </li>
    <li>
        Venta de Producción 
    </li>
    <li>
        Régimen Laboral
    </li>
    <li>
        Régimen Tributario
    </li>
</ul>

<p class="titulo">3. Iniciativas Legislativas </p>

<p class="textogeneral">Se han elaborado diversos proyectos normativos para promover la formalización minera, aquí comentamos los más importantes y hacemos propuestas para su consideración.  </p>








    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->