
    <p class="titulo">FOROMIN+D TE ESCUCHA</p>


<div class="formulario1">
<form autocomplete="on" name="Ingresa tu comentario" class="ingresodatos">
<fieldset>
<!--
    <legend>Completa el siguiente formulario</legend>
-->    
    <br>
    <label for="nama">Escribe Aquí*</label> <br>
    <input type="text" class="inputtexto"> <br> <br>
    
    <label for="Nombre">Nombre o seudónimo*</label> <br>
    <input type="text" class="inputnombre"> <br><br>
    
    <br>
    <br>
    <button>Enviar</button>
    <p class="asterisco">*Campos obligatorios</p>
</fieldset>
</form>
<br>
<p class="textogeneral">- Puedes también escribirnos al correo:</p>
<a href="#" class="correo">informes@forominperu.com.pe</a>

</div>

<p class="titulo">FOROMIN+D TE PREGUNTA</p>
<p class="textogeneral">
    En función de los temas de los Foros y de las consultas que nos hacen, <strong> FOROMIN+D</strong> desea hacer preguntas sobre temas vinculados a Minería y Desarrollo y hacer planteamientos de mejoras, o de temas que puedan ser llevados a los Foros.
    <br><br>
    Si estás de acuerdo en recibir y responder a estas preguntas, déjanos acá tu contacto:
</p>

<form autocomplete="on" name="Datos" class="ingresodatos">
        <br>
        <label for="Nombre">Nombres y Apellidos*</label> <br>
        <input type="text" class="inputnombre"> <br><br>
        <label for="number">DNI*</label> <br>
        <input type="number" class="inputnombre"> <br><br>
        <label for="Nombre">Localidad en la que vive*</label> <br>
        <input type="text" class="inputnombre"> <br><br>
        <br>
        <button>Enviar</button>
        <p class="asterisco">*Campos obligatorios</p>
    
    </form>
    

     <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral"> d</p>
-->