
.titulo{
  font-weight: bolder;
  padding: 10px 0px 10px 10px;
  background-color: rgb(245, 240, 233);
  margin-top: 40px;
}

.subtitulo{
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 30px;
}

.titulito{
  font-weight: bolder;
  margin-left: 20px;
}

.textogeneral{
  text-align: justify;
}






  .subtituloscontenidos{
    color: rgb(179, 179, 179);
    padding-left: 1em;
    margin-bottom: 1em;
    border: 1px solid rgb(211, 209, 209);
  }


.formulario1{
  border: 1px solid rgb(211, 209, 209);
  padding: 10px;

}

.ingresodatos{
  display: block;
}
.asterisco{
  font-size: 0.8em;
  color: #444;
}

.inputnombre{
  width: 90%;
}

.inputtexto{
  width: 95%;
  height: 6em;
}

.correo{
  padding-left: 10px;
}
.queocurrio{
  border: rgb(211, 209, 209) 1px solid;
  height: 10em;
  margin-bottom: 1em;
  padding: 1em;
  color: rgb(179, 179, 179);

}
  
.subtitulos{
  font-weight: bolder;
  text-decoration: underline rgb(121, 117, 117);
}

.textosubtitulos{
  margin-left: 3%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: justify;
}

.tambograndeimg{
  width: 40%;
  float: right;
  margin: 3%;
  filter: drop-shadow(5px 5px 2px #444);
}

.textocentrado{
  text-align: center;
}

.encuesta{
  width: 80%;
}
