<div class="cajaeditorial">
    <div class="editorial">
        <p class="editorialetiqueta">Contribución a la Economía Nacional</p>
        <p class="tituloeditorial">
            
            Este espacio permite informar con objetividad y sustento, el aporte de la mineria en la economía del país, resaltando la información más relevante. La información se obtendrá de fuentes como son el MEF, MINEM, EITI, MTPE, empresas, instituciones, entre otras fuentes.
                <br><br>
            <u>Importancia</u>  el conocer la dimensión de la contribución de la minería permite contar con autoridades y ciudadanos mejor informados frente al desarrollo del Sector. 
         </p>

            
            <div class="contenidos">
                <router-outlet></router-outlet>
            </div>
    </div>

    <br>

            <div class="editorial ocultar">
                <div>
                    <div>
                        <p class="titulomashistorias">Conoce más ...</p>
                    </div>
                    <div class="comentariosforo">
                        <div>
                            <div class="iconosh">
                                <div class="chiquitinh"><a routerLink="/app-cienciaytecnologia/app-ejemplo1"><img src="../../../assets/img/cienciaytecnologia/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh"><a routerLink="/app-cienciaytecnologia/app-digitalizacionminera"><img src="../../../assets/img/cienciaytecnologia/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/c.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/d.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                                <div class="chiquitinh ocultar"><a routerLink="/app-cienciaytecnologia/app-ejemplo1"><img src="../../../assets/img/cienciaytecnologia/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/c.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/d.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                                <div class="chiquitinh ocultar"><a routerLink="/app-cienciaytecnologia/app-ejemplo1"><img src="../../../assets/img/cienciaytecnologia/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/c.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                                <div class="chiquitinh ocultar"><a ><img src="../../../assets/img/cienciaytecnologia/d.png" alt="enlace de interés" class="imgchiquitin"></a></div>


                            </div>
                        </div>

                    
                    </div>
                </div>
            </div>
    <br>
</div>
