<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Contribución a la Economía Regional y Local</p>
        <p class="tituloeditorial">

            Este espacio permite informar con objetividad y sustento, el aporte de la mineria en la economía regional y local, resaltando la información más relevante. La información se obtendrá de fuentes como son el MEF, MINEM, EITI, MTPE, empresas, instituciones, entre otras fuentes.
<br><br>
           <u>Importancia:</u>  El conocer la dimensión de la contribución de la minería permite contar con autoridades y ciudadanos mejor informados frente al desarrollo del Sector. 
        </p>
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Lee más historias</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">
                        <div class="chiquitinh"><a  routerLink="/app-buenaspracticas/app-efectoeconomia"><img src="../../../assets/img/efectoseconomia/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/efectoseconomia/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/c.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/d.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                          
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/c.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/d.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/c.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/efectoseconomia/d.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>


