<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Historia y Actualidad</p>
        <p class="tituloeditorial">
            Analizar la historia y actualidad sobre la Minería en el Perú y el Mundo, nos permite tomar conciencia de lo vivido y de mejorar a futuro.
            <br><br>
           <u> Importancia:</u> este espacio permite reflexionar conocer experiencias positivas o negativas, buscando aprender de ellas para ser aprovecbada en la actualidad y a futuro. 
        </p>

        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">

                        <div class="chiquitinh"><a  routerLink="/app-formalizacionminera/app-inicioformalizacionminera"><img src="../../../assets/img/formalizacionminera/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  ><img src="../../../assets/img/formalizacionminera/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>

                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>


