<p><strong>ÍNDICE</strong></p>

<p class="titulo">MINERÍA EN EL MUNDO</p>

<p class="titulo">USO DE MINERALES</p>
<p class="titulo">PROYECTOS MINEROS EMBLEMÁTICOS</p>
<ol>
    <li>
        Descripción: La descripción será suscinta, buscando recoger lo de mayor relevancia e interés.
    </li>
    <li>
        Posiciones: Se explicarán las posiciones expresadas por los distintos grupos de interés
    </li>
    <li>
        Actores involucrados y rol que cumplió cada uno: Se informará sobre los actores más saltantes que, según información pública y objetiva, participaron impulsando cada una de las posiciones).
    </li>
    <li>
        Situación Actualidad: Cual es la situación actual del Proyecto.
    </li>
    <li>
        Conclusiones: Que lecciones aprendidas nos deja esta situación. Las conclusiones serán parte de futuros Foros, ya sean a nivel Nacional, Regional o Local.
    </li>
</ol>


<p class="titulo">TEMAS DE COYUNTURA DEL SECTOR MINERO</p>




    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->