<p><strong>ÍNDICE</strong></p>

<p class="titulo">1. AGUA</p>

<p><strong>
Nivel Nacional <br>
Nivel Regional <br>
Nivel Local

</strong></p>

<p><strong>
    Información a desarrollar
</strong></p>
<ul>
    <li>
        Disponibilidad de Agua.
    </li>
    <li>
        Consumo de Agua en diversos sectores.
    </li>
    <li>
        Vertimento de las Cuencas al Mar.
    </li>
    <li>
        Minería y su Aporte de recursos hídricos.
    </li>
    <li>
        Gráfico con evolución de estos consumos y aportes de los últimos 20 años.
    </li>
</ul>

<p class="titulo">2. PASIVOS AMBIENTALES MINEROS</p>
<p><strong>
    Nivel Nacional <br>
    Nivel Regional <br>
    Nivel Local
</strong></p>

<p><strong>
    Información a desarrollar
</strong></p>

<ul>
    <li>
        Pasivos Ambientales Mineros.
    </li>
    <li>
        Clasificación de Pasivos Ambientales Mineros.
    </li>
    <li>
        Monto de inversión requerido para Remediación de Pasivos Ambientales Mineros de Alto Riesgo.
    </li>
    <li>
        # Pasivos Ambientales Mineros remediados.
    </li>
    <li>
        Monto de inversión ejecutado en remediación de Pasivos Ambientales  Mineros.
    </li>
    <li>
        # Pasivos Ambientales que requieren medidas de mitigación y montos de inversión. 
    </li>
    <li>
        Obras por Impuestos en Remediación de Pasivos Ambientales.
    </li>
    <li>
        Oportunidades de Mejora de la Normativa de Remediación de Pasivos Ambientales.
    </li>
</ul>


<p class="titulo">3. CIERRE DE MINAS</p>
<p><strong>
    Información a desarrollar
</strong></p>
<ul>
    <li>
        % de Operaciones Mineras con Plan de Cierre de Minas Aprobado.
    </li>
    <li>
        % de Operaciones Mineras con Cumplimiento al día de Planes de Cierre de Minas. 
    </li>
    <li>
        # de Sanciones impuestas por OEFA por Incumplimiento de Planes de Cierre de Minas.
    </li>
    <li>
        % de Operaciones Mineras en Cierre Definitivos. 
    </li>
    <li>
        Iniciativas Sociales Post Cierre. 
    </li>
    <li>
        Casos emblemáticos de operaciones en relación con Cierre de Mina.
    </li>
    <li>
        Oportunidades de Mejora de la Normativa de Planes de Cierre de Mina. 
    </li>
</ul>


<p class="titulo">4. CAMBIO CLIMÁTICO</p>
<p><strong>
    Información a desarrollar
</strong></p>

<ul>
    <li>
        Efectos de Cambio Climático en Regiones y Localidades donde se desarrolla la actividad minera. 
    </li>
    <li>
        Iniciativas a adoptar para mitigar los efectos del Cambio Climático.
    </li>
    <li>
        Monto requerido para invertir en iniciativas de mitigación de Cambio Climático.
    </li>
</ul>

<p class="titulo">5. BUENAS PRÁCTICAS AMBIENTALES EN MINERÍA</p>
<p><strong>
    Información a desarrollar
</strong></p>
<ul>
    <li>
        Agua.
    </li>
    <li>
        Aire.
    </li>
    <li>
        Suelo.
    </li>
    <li>
        Presas de Relave.
    </li>
    <li>
        Operación de Mineroductos. 
    </li>
    <li>
        Manejo de Residuos.
    </li>
    <li>
        Monitoreos Participativos.
    </li>
    <li>
        Reportes Ambientales.
    </li>
    <li>
        Contribución con su entorno en temas ambientales.
    </li>
</ul>


    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->