<div class="cajaeditorial">
    
    <div class="editorial">
        <p class="editorialetiqueta">Desarrollo Social y Productivo</p>
        <p class="tituloeditorial">
        
            La información de la Contribución a la Economía, actual y potencial, a nivel Nacional, Regional y Local, debe ser puesta en perspectiva en su relación con Desarrollo, entendido como cierre de brechas en educación y salud, y cierre de brechas productivas, entendida en desarrollo de infraestructura y condiciones para generación de empleo. 
            <br><br>
            <u>Importancia:</u> Transmitir este conocimiento permite promover la implementación de proyectos de cierre de brechas y con ello el buen aprovechamiento de los recursos que genera en la minería. 
            
        </p>
        
        <div class="contenidos">
            
            <router-outlet></router-outlet>
    
        </div>
    </div>
    

    <br>
    <div class="editorial ocultar">
        <div>
            <div>
                <p class="titulomashistorias">Conoce más ...</p>
            </div>
            <div class="comentariosforo">
                <div>
                    <div class="iconosh">
                        <div class="chiquitinh"><a  routerLink="/app-avancedeproyectos/app-petitoriosmineros" ><img src="../../../assets/img/avanceproyectos/a.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh"><a  routerLink="/app-avancedeproyectos/app-conactividadpreliminar" ><img src="../../../assets/img/avanceproyectos/b.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                        <div class="chiquitinh ocultar"><a  routerLink="/app-avancedeproyectos/app-proyectosenexploracion"><img src="../../../assets/img/avanceproyectos/c.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  routerLink="/app-avancedeproyectos/app-proyectosenconstruccion"><img src="../../../assets/img/avanceproyectos/d.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  routerLink="/app-avancedeproyectos/app-proyectosenoperacion" ><img src="../../../assets/img/avanceproyectos/e.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        <div class="chiquitinh ocultar"><a  routerLink="/app-avancedeproyectos/app-mineriainformal" ><img src="../../../assets/img/avanceproyectos/f.png" alt="enlace de interés" class="imgchiquitin"></a></div>
                        
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br>
</div>

