
.titulo{
  font-weight: bolder;
  padding: 10px 0px 10px 10px;
  background-color: rgb(245, 240, 233);
  margin-top: 40px;
}

.subtitulo{
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 30px;
}

.titulito{
  font-weight: bolder;
  margin-left: 20px;
}

.textogeneral{
  text-align: justify;
}

/*referencias*/

.cajareferencias{
  padding-top: 3em;
}

.referencias{
  font-size: 0.7em;
  padding-left: 20px;
}

.tituloreferencias{
  font-size: 0.8em;
  font-weight: bolder;
  text-decoration: underline;
}