<p class="titulo">Foros Anteriores</p>

<div class="cuadroforoanterior">
    <ul>
        <li>
            N° FORO: ..............
        </li>
        <li>
            TEMA: ..............
        </li>
        <li>
            FECHA: ..............
        </li>
        <li>
            PREGUNTA: ..............
        </li>
        <li>
            CONCLUSIONES: ..............
        </li>
        <li>
            PLANTEAMINETOS: ..............
        </li>
        <li>
            ESTADO DE AVANCE: ..............
        </li>
    </ul>

</div>

<div class="cuadroforoanterior">
    <ul>
        <li>
            N° FORO: ..............
        </li>
        <li>
            TEMA: ..............
        </li>
        <li>
            FECHA: ..............
        </li>
        <li>
            PREGUNTA: ..............
        </li>
        <li>
            CONCLUSIONES: ..............
        </li>
        <li>
            PLANTEAMINETOS: ..............
        </li>
        <li>
            ESTADO DE AVANCE: ..............
        </li>
    </ul>

</div>





    <!--

    <p class="titulo">L</p>
    
    <p class="subtitulo">O</p>
    
    <p class="titulito">o</p>
    
    <p class="textogeneral">d</p>

-->